[2018-03-19 14:15] #363 closed

[2018-03-19 15:25] jopmiddelkamp opened #375 "Invisible when using VerticalOptions="StartAndExpand""
# Problem
The carousel view seems to be unable to calculate its own height based on its content when using the start and expand vertical option. When using a specific height or the fill and expand vertical option the carousel view does show up. I've only tested it on Android as I don't have a MacBook availible to use at the moment.

# Code used
    <cvcontrols:CarouselViewControl x:Name="DontsCaro

[2018-03-20 10:13] maximilianrublik commented on #338
I am having trouble with this problem as well.. As far as I know this is only an Android thing.

[2018-03-20 10:17] jopmiddelkamp opened #376 "[Xarmarin.Forms.Android] App crash when navigating to another page"
# Problem
In my Android app I run into the problem that if I'll use the WidthRequest, HeightRequest or the ShowArrows attributes my app crashes after navigating to another page.

# Reproduction
I've been able to reproduce the issues in [this repo](https://github.com/jopmiddelkamp/CarouselViewBug). There are two feature branches in which the different issues are reproduced:
- feature/Failure_with_s

[2018-03-20 13:08] ufuf commented on #364
@alexrainman  I added tapgesture to the carouselview. It is working on iOS but does not invoke on Android.

[2018-03-20 13:34] wattsdeveloper commented on #357
Hello, we also get the same error.

[2018-03-20 14:50] charmosz commented on #325
Hi,
Is the problem fixed ? How can I make it work ?
Thanks

[2018-03-21 13:41] biermeister69 opened #377 "Not rendering inside parentview initally hidden"
I'm using CarouselView inside a view which is initially hidden. Both ItemsSource and ItemTemplate are binded and propertyChanged raised, but when parentview "IsVisible" changes to true there's nothing showing on CarouselView.

Doing the same operation with "IsVisible" true from the beginning, everything works fine.

[2018-03-22 10:37] kerrpeter commented on #363
This is a great control, but there are some issues with the height.
I find that it displays well if I have `FillAndExpand` on it, but as Nixon-Joseph  says, without that it doesn't show up at all. I don't really what FillAndExpand on it as I want the other controls on the page to use the available space.
However I found a strange workaround, in that, the second time my page is displayed, the Carou

[2018-03-27 06:40] harsanji commented on #372
I made a pull request fixing this issue (for iOS and Android) 20 days ago but nothing has happened.

[2018-03-27 11:31] JaeWLee commented on #369
Maybe this error is for Android only
My UWP App is working well

[2018-03-27 12:32] alexrainman commented on #377
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:32] #377 closed

[2018-03-27 12:32] alexrainman commented on #376
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:32] #376 closed

[2018-03-27 12:32] alexrainman commented on #375
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:32] #375 closed

[2018-03-27 12:33] alexrainman commented on #374
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:33] #374 closed

[2018-03-27 12:33] alexrainman commented on #372
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:33] #372 closed

[2018-03-27 12:33] alexrainman commented on #370
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:33] #370 closed

[2018-03-27 12:33] alexrainman commented on #369
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:33] #369 closed

[2018-03-27 12:33] alexrainman commented on #368
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:33] #368 closed

[2018-03-27 12:33] alexrainman commented on #367
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:33] #367 closed

[2018-03-27 12:35] alexrainman commented on #366
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:35] #366 closed

[2018-03-27 12:35] alexrainman commented on #365
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:35] #365 closed

[2018-03-27 12:35] alexrainman commented on #364
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:35] #364 closed

[2018-03-27 12:35] alexrainman commented on #361
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:35] #361 closed

[2018-03-27 12:35] alexrainman commented on #360
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:35] #360 closed

[2018-03-27 12:36] alexrainman commented on #358
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:36] #358 closed

[2018-03-27 12:36] alexrainman commented on #357
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:36] #357 closed

[2018-03-27 12:36] alexrainman commented on #356
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:36] #356 closed

[2018-03-27 12:36] alexrainman commented on #355
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:36] #355 closed

[2018-03-27 12:37] alexrainman commented on #354
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:37] #354 closed

[2018-03-27 12:37] alexrainman commented on #353
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:37] #353 closed

[2018-03-27 12:37] alexrainman commented on #352
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:37] #352 closed

[2018-03-27 12:38] alexrainman commented on #351
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:38] #351 closed

[2018-03-27 12:39] alexrainman commented on #350
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:39] #350 closed

[2018-03-27 12:51] alexrainman commented on #349
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:51] #349 closed

[2018-03-27 12:52] alexrainman commented on #348
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:52] #348 closed

[2018-03-27 12:53] alexrainman commented on #347
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:53] #347 closed

[2018-03-27 12:53] alexrainman commented on #346
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:53] #346 closed

[2018-03-27 12:53] alexrainman commented on #343
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:53] #343 closed

[2018-03-27 12:53] alexrainman commented on #342
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:53] #342 closed

[2018-03-27 12:54] alexrainman commented on #340
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:54] #340 closed

[2018-03-27 12:54] alexrainman commented on #339
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:54] #339 closed

[2018-03-27 12:55] alexrainman commented on #338
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:55] #338 closed

[2018-03-27 12:55] alexrainman commented on #330
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:55] #330 closed

[2018-03-27 12:55] alexrainman commented on #325
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:55] #325 closed

[2018-03-27 12:56] alexrainman commented on #318
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:56] #318 closed

[2018-03-27 12:56] alexrainman commented on #317
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:56] alexrainman commented on #259
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:56] #259 closed

[2018-03-27 12:56] alexrainman commented on #250
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:56] #250 closed

[2018-03-27 12:57] alexrainman commented on #247
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:57] #247 closed

[2018-03-27 12:57] alexrainman commented on #223
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:57] #223 closed

[2018-03-27 12:58] alexrainman commented on #192
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:58] #192 closed

[2018-03-27 12:58] alexrainman commented on #138
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-03-27 12:58] #138 closed

[2018-03-28 06:42] autosoftmultimedia commented on #357
Hi Alex, thanks for your work!

[2018-03-29 06:57] harsanji commented on #360
Hi meldesoysa. Did you find a workaround for this? I know this repo will be merged into Xamarin.Forms but we have the problem right now.

[2018-04-02 08:43] Srusti-Thakkar opened #380 "How to set Image Visibility according to Position?"
Hi, I am using your plugin for carousel View implementation. I want to display image based on carousel view item position. How can I achieve this?
This is my custom horizontal Listview code :
`<cc:CustomScrollView x:Name="CalenderView" HeightRequest="75"  Orientation="Horizontal" ItemsSource="{Binding CalendarItemList, Mode=TwoWay}" >
                        <cc:CustomScrollView.ItemTemplate>

[2018-04-02 16:18] daniel-p commented on #301
@alexrainman I have the exam same problem as @K232. I'm on 5.2.0.

[2018-04-03 08:41] Srusti-Thakkar opened #381 "Position not set on Item click when switch tab in Android device."
Hi, I am using your plugin and I have one problem. I am setting position of Carousel View on clicking some button. But when I am switching from another tab and try to click first time PositionSelected method not firing. But if I click on another button then it works fine. Look at the following scenario in below image.

![image](https://user-images.githubusercontent.com/22439278/38238826-b4b702aa-3

[2018-04-06 06:57] roshanchaminda commented on #380
Hi,
Please see below issue number, Down load Demo App(TestCalPCL.zip). Same solution that you required has been implemented.

https://github.com/alexrainman/CarouselView/issues/241,

[2018-04-07 15:23] TianyiChen-1 opened #382 "It works perfect on Android but cannot work correctly on Ios"
![20180407084911](https://user-images.githubusercontent.com/26310794/38456732-3cb023a4-3a45-11e8-8dbe-5800a1aed2d4.png)
  <forms:CarouselViewControl x:Name="myCarousel" BackgroundColor="Yellow">

                    <forms:CarouselViewControl.ItemTemplate>
                        <DataTemplate>
                            <Label Text="{Binding .}" FontSize="60"/>
                        </DataTemp

[2018-04-09 15:57] ansadag opened #383 "Error while initializing the control"
Please see the error I am Getting. I am using Xamring.forms 2.5
-----------------------------------------------

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.ArgumentException: Default value did not match return type
Parameter name: defaultValue
  at Xamarin.Forms.BindableProperty..ctor (System.String propertyName, System.Type r

[2018-04-13 23:53] alexrainman commented on #383
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-13 23:53] #383 closed

[2018-04-13 23:53] alexrainman commented on #382
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-13 23:53] #382 closed

[2018-04-13 23:53] alexrainman commented on #381
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-13 23:53] #381 closed

[2018-04-13 23:53] alexrainman commented on #380
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-13 23:53] #380 closed

[2018-04-16 05:08] jAddict7 opened #384 "Data Template - Different ContentPage for CarouselView"
Thanks for the awesome plugin. Is there any working sample to use Data Templates in CarouselView,

**My XAML**
`<ContentPage.Resources>
        <ResourceDictionary>
            <DataTemplate x:Key="validPersonTemplate">
                <ViewCell>
                    <StackLayout BackgroundColor="Red">
                        <Label Text="{Binding Testo}" VerticalOptions="CenterAndExpand" Horizonta

[2018-04-17 15:59] JTOne123 commented on #311
I have the same issue with latest nugets.
And of course "Clean and rebuild" didn't help :(

Could not load file or assembly 'CarouselView.FormsPlugin.Abstractions, Version=1.0.6591.24917, Culture=neutral, PublicKeyToken=null'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)

[2018-04-18 11:24] shoeIT commented on #298
hey, I think I have a similar problem. Everything worked fine until I added orientation chage. If I only work in  portrait mode I have no problems. When I change to landscape and back  and swipe around I get the error:
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'No view controller managing revealed view <Xamarin_Forms_Platform_iOS_Platform_DefaultRenderer

[2018-04-18 12:09] shoeIT commented on #296
any news on the "isSwiping"

[2018-04-18 19:37] AlexTeixeira opened #385 "Crash - CarouselView inside ListView"
I have a CarouselView inside a ListView and the position in my model like this :

[code]

The XAML :

[code]

When I change the position of the carousel and then scroll my List, I will have this a crash.

I think this is related to the issue #296

Any idea why this is happening ?

[2018-04-18 19:39] alexrainman commented on #385
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-18 19:39] #385 closed

[2018-04-19 07:51] 100s commented on #311
@alexrainman I have the same issue. I have a pcl common code project and UWP targeting 16229.

It worked fine on and UWP 10240 and nuget 5.0.2

Do I need to update my PCL to netstandard2.0?

The same error:
Could not load file or assembly 'CarouselView.FormsPlugin.Abstractions, Version=1.0.6591.24917, Culture=neutral, PublicKeyToken=null'. The located assembly's manifest definition does not match

[2018-04-19 12:17] alexrainman commented on #375
I think it will be before 3.0 but not sure about that.

[2018-04-20 09:40] kvpt opened #386 "NullReferenceException on iOS"
Hi,

AppCenter report a lot of crash on iOS related to CarouselView, no problem on others platforms (Android, UWP). We use the latest version (5.2.0).

Here the report :
CarouselViewRenderer.Scroller_Scrolled (System.Object sender, System.EventArgs e)
System.NullReferenceException: Object reference not set to an instance of an object

[2018-04-20 14:01] alexrainman commented on #386
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-20 14:01] #386 closed

[2018-04-20 14:39] kvpt commented on #386
Sorry for the mistake.
You can create an ISSUE_TEMPLATE.md file at the project root to make that information more visible.

[2018-04-20 15:01] Nico04 commented on #375
OK, how will we be updated ?

[2018-04-21 20:59] goldami1 opened #387 "ArgumentException while implementing the example"
When Implementing the example, there's a "Default value did not match return type. Parameter name: defaultValue (ArgumentException)" error.
Would appreciate a lot your attention,

[2018-04-24 07:42] joncortez opened #388 "CarouselView content disappears when returning to tab"
I have a TabbedPage with 3 tabs (Tab1, Tab2, Tab3) and each has a NavigationPage. Tab1's root page has a CarouselView whose ItemsSource is bound to an ObservableCollection<ContentView> which has 3 ContentViews added.

When the app starts, Tab1 is the selected tab. Swipe left or right on the carousel to see the content of the 3 ContentViews (mostly some controls and images). Tap on Tab2 or Tab3 to

[2018-04-25 07:47] thomashoef opened #389 "Exception in one project, not in another"
I have 2 identical droid projects which both reference the same .NET Standard Library which holds my Xamarin views and viewmodels.

On one view, we add the Carousel Control.

When running Droid project 1, all works fine, the carousel is rendered etc.
When running Droid project 2, the app crashes when rendering the exact same view. There is no real visible reason for this. Would you have any ideas?

[2018-04-25 22:38] bastianbecker21 opened #390 "[Question] Is there any event to be fired when user scrolled?"
I tried Scrolled and PositionSelected but they are fired when changing position programatically too. I need to know whether user manually scrolled or not.

[2018-04-26 11:16] JaeWLee opened #391 "View'll be hided when navigate after updating Xamarin.Forms 2.5.1"
First look is no problem
but I'm using tabbedpage and When I navigate and back to view that use carouselView
carouselView is hided

I know this repo'll be contained in official xamarin project
but... I can't find package that better than this repo unitl official carouselView is released

[2018-04-26 14:35] alexrainman commented on #389
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-26 14:35] #389 closed

[2018-04-26 14:35] alexrainman commented on #390
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-04-26 14:35] #390 closed

[2018-04-26 18:12] discgolfjoe opened #392 "Setting ShowArrows to false is not retained once position changes"
I'm creating a settings page on my app where the user can enable/disable the navigation arrows. This settings page, like many other pages of the app, has been created as an item on the carouselview control.

When the user modifies ShowArrows from false to true, everything looks good. When the user modifies ShowArrows from true to false, the arrows are removed from the settings (current) selection,

[2018-04-27 20:08] LeSanchez commented on #346
@alexrainman Hey are you aware of when this component should be released as part of Xamarin Forms?

[2018-04-29 08:04] thoughtcastapp opened #393 "FFImageLoading"
What is the NuGet package for this?

[2018-04-30 16:54] TNoronha commented on #393
https://github.com/luberda-molinet/FFImageLoading
Just search for FFimageLoading and install Xamarin.FFImageLoading.Forms

[2018-05-02 04:04] phamphu2911 commented on #271
+1
bug IOS.
ref: https://github.com/JeromeCHA/TestTabman

[2018-05-05 08:54] Nico04 commented on #391
Here is an uggly workaround - the only temp fix I found :

[code]

[2018-05-05 08:54] Nico04 commented on #388
Here is an uggly workaround - the only temp fix I found :

[code]

[2018-05-08 09:12] kamuran93 opened #394 "master detail issue"
@alexrainman hi Alex,  ı had an issue to day with master detail page on android . when ı start to  android emulator my CV  in detail page does not show pictures. Can u give me some advices please

[2018-05-09 07:53] Jagbri opened #396 "Carousel doesn't load views on PushModalAsync"
I'm trying to navigate to page with carousel on main page load, but carousel doesn't load views properly.
I have created an example project: [https://github.com/Jagbri/CarouselViewTest](url)

MainPage code:
[code]

[2018-05-09 17:47] BioTurboNick commented on #361
@Nishita1121 - I'm seeing this issue on a release build with ProGuard enabled. Odd though, because it doesn't always seem to be a problem?

In case that helps while we wait for the official release.

[2018-05-09 19:42] alexrainman commented on #396
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-05-09 19:42] #396 closed

[2018-05-09 19:42] alexrainman commented on #394
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-05-09 19:42] #394 closed

[2018-05-09 19:42] #393 closed

[2018-05-09 19:43] alexrainman commented on #392
This control has been merged into Xamarin.Forms master branch. Please, wait for it to be released as part of Xamarin.Forms and submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview. Thanks

[2018-05-09 19:43] #392 closed

[2018-05-10 10:22] SiddharthRana18 opened #397 "carousalView.setIndicatorVisibility(View.GONE) not working"
I am programming in kotlin and i want to change the visilibility of indicators according to the position of image in carousal view. But i cannot change the visibility of indicators programmatically. Any help?

[2018-05-11 09:19] #397 closed, assigned to nobody

[2018-05-14 11:58] masiri201 opened #398 "[Android] Page doesn't adjust itself when keyboard opens."
Hi, i have a carouselview on a page and the items of that carousel are the contents of 2 content pages, on one of then i have to type something, but when the keyboard opens the page doesnt have the scrollview activated like it should. The carousel page indicators go up and respect the keyboard spacing but the page doesn't.
I tried ran the page and it works fine but when inside the carousel its not

[2018-05-15 14:49] wollkopf opened #399 "Navigation problem with Prism and navigation arrows"
Today i tried to implement a CarouselView in my Xamarin Forms Application.
After the successfull implementation i recognized that i couldn't navigate any more to another page. I did some hours of research and removed the navigation arrows. Then page navigation worked again.
So there is definitly a problem between Prism.Forms and the arrow keys.

Would be great, if this is going to be fixed.

[2018-05-16 12:38] Nico04 commented on #396
Still not included in X.F 3.0 ?
Do you have a approx roadmap please ?
Thanks !

[2018-05-16 12:50] alexrainman commented on #396
You have to ask Xamarin about that :)

[2018-05-16 13:53] Nico04 commented on #396
Do you have an idea where can I ask ?

[2018-05-18 08:13] vikram-ma opened #400 "Unable to access child elements [Question]"
In my project I have used ListView object as the ItemTemplate. I want to be able to access the ListView, so that I can programmatically control scroll of this ListView, however the LogicalChildren is empty and ChildAdded or ChildRemoved events are not being called either.
I want to be able to do something like CarouselViewControl.CurrentChild.Children[0].ScrollToTop()
Here CurrentChild[0] will be

[2018-05-18 10:16] ChasakisD opened #401 "Control Property to disable dispose of view inside the DestroyItem"
I am currently using the CarouselViewControl to make something like a Wizard and a step by step view. I spawn DataGrids and other controls that with view.Dispose() are buggy when the user go back to them(At the first spawn it works fine). I tried just to comment the view.Dispose() at the CarouselViewImplementation.cs, Line: 733. Is there any way to create a bindable property of the CarouselViewCon

[2018-05-21 04:14] nhdanh opened #402 "Implement plugin can loop a view when last child"
Hi All. Im using this plugin. It is so good. But I has a problem. When I swipe to last child. I cant continue swipe. So I want make this plugin can swipe to first child. Loop item in carousle.

In react has a plugin can make it. So How can I implement this plugin can do it and autoplay as slide.

This is a slide in lazada app. I think it using React. In Xamarin, how can I do it ?
Gif
[https://j.gi

[2018-05-21 17:45] dfoulk commented on #157
@motoko89 - This issue was found on Android (I couldn't repro on iOS). Data bindings were broken until the user rotated their display. I would guess that you are having a slightly different issue if only the indicator is vanishing. I'd open a new issue :)

[2018-05-21 17:47] AxelUser opened #403 "[XF.Android] CarouselViewControl does't appear"
Hi, Alexander!
Thank you for the control, it seems helping other developers to implement carousel in Xamarin.Forms.

I have got problem in usage of CarouselViewControl.

I've installed nuget-package to PCL and Android-project. In MainActivity class I've initialized control just after Form's init:
[code]

Inside ContentPage tags I have this markup:
[code]

And inside cs-file of my page I am passing

[2018-05-22 13:17] bart-256 opened #404 "NullReferenceException when changing Position from ViewModel just before page is popped from the stack"
Hi,
So I am experiencing this issue on iOS when page is about to be popped from the stack and I'm altering the Position property from my ViewModel just before it happens then I'm getting following exception:

[code]

I've implemented simple slideshow in my ViewModel:

[code]

So the exception only occurs when I press back button in some particular moment - it doesn't throw exception each time when

[2018-05-22 13:21] marceloh568 commented on #401
Hello Friend. I'm going through the same problem. Were you able to solve it? I'm interested in the fork.

[2018-05-22 19:58] therobear commented on #403
Hey AxelUser,

I had the same issue. The CarouselViewControl can't be nested in a StackLayout. So if you remove the CarouselViewControl from the StackLayout and remove the StackLayout tags, it should work. Your xaml file should look like this:

[code]

[2018-05-23 00:51] motoko89 commented on #157
I don't know why but it appears `Element` was resized 3 times. The 3rd time somehow the height is very large. So the indicator didn't disappear. It just went out of sight. I think this has to do with my View layout.
I end up switching to https://github.com/chrisriesgo/xamarin-forms-carouselview. Need to add some code in ItemSourcesChange so it can handle template selector but other than that it ap

[2018-05-23 03:57] AxelUser commented on #403
Thank you for help!
CarouselViewControl seems to be working inside StackLayout, but somehow I didn't noticed the ```System.InvalidCastException: Specified cast is not valid.``` I've tried to pass a ContentView inside DataTemplate and it works!
Here is how it looks like:
[code]

[2018-05-23 03:57] #403 closed

[2018-05-23 13:47] dhindrik commented on #396
It seems to be a bit of work left before it will go in to master, https://github.com/xamarin/Xamarin.Forms/pull/1882

[2018-05-23 18:19] dfoulk commented on #157
I gotcha! I'm glad you found a plugin that works for you! Your report makes me curious, however... Would you mind posting your implementation so we can see what (may) be causing the issue with positioning?

[2018-05-24 05:41] hashimks opened #405 "Auto scroll property and scroll to first page when scrolled from the last page"
Hi, I am using this plugin and to say this is the best of all. However, I found couple of features which will be good in this.

1. Auto scroll on a particular time set
2. scroll to first page when scrolled from the last page (manually/auto)

[2018-05-24 06:04] hashimks opened #406 "Carousel View Issue when rotating the screen"
Hello,

I am using this carousel view in which my DataTemplate is stacklayout which contains an Image control.
After I run the app, I am able to see the view of say 5 images properly say in portrait mode. When i rotate the screen to landscape, it retains the image position which is same as in portrait and not properly aligned.
After couple of scrolls back and forth, it aligns correctly.  Again if

[2018-05-24 11:40] ghost opened #407 "[iOS] CarouselViewControl images are appearing zoomed."
Please go through the screenshot attached below :
Images inside carousel view appears zoomed in iOS on all versions of OS 9.3,10.2,11.3 while it works fine on Android.

![simulator screen shot - iphone se - 2018-05-24 at 17 07 12](https://user-images.githubusercontent.com/9973688/40483317-3274424e-5f75-11e8-9c36-a77cf46b63ed.png)

[2018-05-26 21:22] ivanxamarin opened #408 "Problem with ListView inside CarouselView"
When I try to use a ListView in one of the views from Carousel view array, I get following error:

Value cannot be null.
Parameter name: fieldType

`

<controls:CarouselViewControl VerticalOptions="FillAndExpand" HorizontalOptions="FillAndExpand">

                <controls:CarouselViewControl.ItemsSource>
                    <x:Array Type="{x:Type View}">
                        <RelativeLayout>

[2018-05-27 18:06] motoko89 commented on #157
Hey sorry I don't have time to re-create a minimal working solution but here is the snippet so you can get a rough idea of my layout

[code]
Another unusual change I did was clear out the Navigation so user can't go back. So most of my navigation is like this:
[code]

[2018-05-28 21:58] AndreiMisiukevich commented on #408
@ivanxamarin hi
try this plugin https://github.com/AndreiMisiukevich/CardView

[2018-05-28 21:59] AndreiMisiukevich commented on #407
@Puneetk207 hi
try this plugin instead https://github.com/AndreiMisiukevich/CardView

[2018-05-28 22:00] AndreiMisiukevich commented on #406
@hashimks hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView

Because, this plugin was merged to XF..

[2018-05-28 22:00] AndreiMisiukevich commented on #405
@hashimks hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView (It provides such features)

Because, this plugin was merged to XF..

[2018-05-28 22:01] AndreiMisiukevich commented on #404
@bart-256 hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView

Because, this plugin was merged to XF..

[2018-05-28 22:02] AndreiMisiukevich commented on #402
@nhdanh  hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView (it provides such feature, just set IsCycling = true)

Because, this plugin was merged to XF..

[2018-05-28 22:02] AndreiMisiukevich commented on #401
hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView

Because, this plugin was merged to XF..

[2018-05-28 22:03] AndreiMisiukevich commented on #400
@bart-256 hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView

[2018-05-28 22:03] AndreiMisiukevich commented on #399
hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView

Because, this plugin was merged to XF..

[2018-05-28 22:03] AndreiMisiukevich commented on #398
hi, try this plugin instead https://github.com/AndreiMisiukevich/CardView

Because, this plugin was merged to XF..

[2018-05-29 08:19] ivanxamarin commented on #408
Thanks, tried it already and got the exact same exception. I managed to find a workaround by using DataTemplateSelector, creating three templates and setting collection of three numbers as ItemsSource. Although it's not so elegant since I have to use ViewModel in page binding context and also as static resource in templates, but it's working. I can see that this control is going to part of Xamarin

[2018-05-29 08:27] AndreiMisiukevich commented on #408
@ivanxamarin how long ago did you try it?

[code]

Here is my markup with  https://github.com/AndreiMisiukevich/CardView and it works perfectly (tested on iOS)
I propose you to try it again. And if you have errors, you can create in on my repo)

[2018-05-29 08:35] ivanxamarin commented on #408
That would work for me to, something like that did actually, but with this as part of the Array:
`<RelativeLayout>
                        <ListView>
                            <ListView.ItemTemplate>
                                <DataTemplate>
                                    <Label>
                                    </Label>
                                </DataTemplate>

[2018-05-29 08:37] nhdanh commented on #402
thank you, I was custom this plugin can do it. So I see your card views plugin. That good plugin. I downloaded.

[2018-05-29 08:37] AndreiMisiukevich commented on #408
@ivanxamarin yes, sorry, you are right.
Did you try to put List's dataTemplate to local resource dictionary?

[2018-05-29 08:43] ivanxamarin commented on #408
Thanks, that's a good suggestion, I'll give it a try tonight.

[2018-05-29 13:43] ivanxamarin commented on #408
I tried it with ListView DataTemplate in resource, but I don't think it can be done. What's happening is that when the ListView is under Array, static resources are not available. I'm pretty sure I didn't miss anything since template from resource works in ListView when not in Array.

This is my resource dictionary:
`<ContentPage.Resources>
        <ResourceDictionary>
            <DataTemplate x:

[2018-05-29 13:49] AndreiMisiukevich commented on #408
Okay, just create some markup in code)

[2018-05-29 13:52] ivanxamarin commented on #408
This is the best I could. I'm not sure what's wrong.

[2018-06-01 21:21] azimuthdeveloper opened #410 "[iOS] The first page is blank with array of ScrollViews"
When used on iOS, with an array of ScrollView's, the first page is always blank.  I have initialised scrollview on the iOS platform and the issue still persists.

[2018-06-03 20:51] 4gDad opened #411 "LoadMoreEvent"
I am build an app using the CarouselView the I will am displaying current items to the user but they will have the ability to "LoadMore" to see items that have been displayed in the past.  Does your control have this ability or is there plans to allow for this "Chunking \paging " of data.

[2018-06-04 09:29] AndreiMisiukevich commented on #411
Hi @4gDad
You can try this plugin https://github.com/AndreiMisiukevich/CardView
If you want to load more items, just add them to your observableCollection

[2018-06-10 11:19] wonsuyon opened #412 "DisplayAlert doesn't work in Main UI thread after launching on android"
Great thanks to your work.
i got some problem.
works fine on ios
but on android MainPage OnAppearing
DisplayAlert doesn't work in Main UI thread
so i code

        protected override async void OnAppearing()
        {
            base.OnAppearing();

            if (IsFirstTime && Device.RuntimePlatform == Device.Android)
            {
                await Task.Delay(500);
            }

[2018-06-11 16:29] Cheatmagnet opened #413 "[UWP] PositionSelectedCommand' bound command not executing"
Binding a command to the PositionSelectedCommand triggers fine on Android (yet to test on iOS) but fails on the UWP implementation (?)
From your notes it seemed as if it would would work for all platforms (perhaps i'm missing something?)

[2018-06-11 19:39] AndreiMisiukevich commented on #413
Hi @Cheatmagnet
you can try this plugin https://github.com/AndreiMisiukevich/CardView

[2018-06-11 19:41] AndreiMisiukevich commented on #412
Hi @Cheatmagnet
you can try this plugin https://github.com/AndreiMisiukevich/CardView

[2018-06-12 08:13] TheSayvior opened #414 "UI error upon position change"
Hello,

I have a setup where i use this carousel to display messages in a banner on the top of my screen. The Itemsource can therefore vary and messages can be deleted. The issue is that if I create a NotificationList of e.g. size 3 with three messages in it everything displays correctly. If I then delete one of the three messages changing the item count to 2 i get the following.

1. message (Bann

[2018-06-12 15:38] kevinwong15 opened #415 "CarouselView not showing"
Hi, I have a CarouselView in a ContentPage called MainPage. I have a button on a Login page which goes to the MainPage.

The Carouselview will not show when App.Current.MainPage = new MainPage().

Is this normal behaviour? The element does show on App.Current.MainPage = NavigationPage(new MainPage()).

[2018-06-12 15:57] LuisDeHaro opened #416 "ShowIndicators - Indicators on Top"
Hi, my question is simple:

Is there a way to put the Indicators in the top of the Page instead of the bottom?

Thanks in advance!

[2018-06-12 20:16] AndreiMisiukevich commented on #416
@LuisDeHaro hi
you can get it easily with this package https://github.com/AndreiMisiukevich/CardView
Just put indicatorsControl into your view and set layout)

[2018-06-12 20:16] AndreiMisiukevich commented on #415
Hi
you can try this package https://github.com/AndreiMisiukevich/CardView

[2018-06-12 20:17] AndreiMisiukevich commented on #414
Hi
try this pack https://github.com/AndreiMisiukevich/CardView

[2018-06-12 20:27] TheSayvior commented on #414
I appoligize, it seems to be an Xamarin problem, it was getting confused with my HorizontalOptions on the labels within the control (hadn't defined them) even though i told it to stay at start outside for the grid they where placed in. By specifically assigning the HorizontalOption to start on the labels within the control i can no longer reproduce the error.

[2018-06-13 05:20] gnaree opened #417 "CarouselView not appearing in Xamarin android"
I am using CarouselView v5.2.0 with Xamarin forms v3.0.0.561731 and Xamarin android v8.3

The same CarouselView is working fine in Xamarin iOS ,but in android it is not throwing any errors and white blank screen is coming.

[2018-06-13 11:08] mclillill commented on #417
We have the same issue. No fix yet.

[2018-06-13 11:42] wattsdeveloper commented on #417
We also have the same issue

[2018-06-13 12:00] alexrainman commented on #417
Are you calling Init on Android?

[2018-06-13 12:04] mclillill commented on #417
@alexrainman
This is our MainActivity:
[code]

[2018-06-13 12:38] wattsdeveloper commented on #417
We are also calling init(), and it was working fine before updating to xamarin forms 3.0....

[2018-06-13 13:08] alexrainman commented on #417
Then it is a XF3 issue. Rollback and wait for XF3.x as this control has been merged and it will be released as part of Forms.

[2018-06-13 13:10] wattsdeveloper commented on #417
okay, do you have any idea, when it will be merge to master? BTW, if i change the size of the android window, then it will be renderer.

[2018-06-14 07:59] ivanxamarin commented on #417
v5.2.0 is working fine on 3.0.0.482510 for me. You can stay on XF3, no need to go to XF2, just revert a few versions back.

[2018-06-14 08:00] ivanxamarin commented on #415
If you're using XF3.0, try reverting to 3.0.0.482510 for example. There might be a bug in some of newest versions of Xamarin Forms.

[2018-06-14 20:34] Cheatmagnet commented on #413
Thanks!

[2018-06-15 15:58] SandipAhluwalia commented on #364
For people using v5.2.0 of the plugin, I resolved this issue by adding a tap gesture inside the data template, but still binding to one command property in the parent view model as follows:

        <cv:CarouselViewControl
            x:Name="myCarouselViewCtrl"
            ItemsSource="{Binding MyItems}"
            ShowArrows="true"
            ShowIndicators="true"
            Orientation="Hori

[2018-06-15 15:59] SandipAhluwalia commented on #200
As mentioned in #364, for people using v5.2.0 of the plugin, I resolved this issue by adding a tap gesture inside the data template, but still binding to one command property in the parent view model as follows:

        <cv:CarouselViewControl
            x:Name="myCarouselViewCtrl"
            ItemsSource="{Binding MyItems}"
            ShowArrows="true"
            ShowIndicators="true"

[2018-06-16 10:08] brad302 opened #418 "[iOS] System.MissingMethodException: Default constructor not found for type System.Array"
I'm having an issue and it only occurs on my device, not on the simulator.  My device is iOS 11.4 and is an iPhone 6s.  The simulator is also running 11.4.

The CarouselView version I am running is 5.0.0 ... I tried upgrading to the latest version but apparently there's a compatibility issue with .netstandard 1.4.

It was working fine only days prior and I have confirmed that the CarouselView is t

[2018-06-16 16:25] tonholis opened #419 "Weird behavior with Bindings inside initial pages"
Hi,

To give you a context, consider the implementation below (a simplified version). The problem is in the first two rendered pages with a Button bound to a boolean property with a Converter.

I instantiate a list with 4 items (MyItem) with Active=false. The button inside the first page should be enabled but it's not the case. When I slide to the third page the button is enabled correctly then I

[2018-06-17 04:23] wing-ap opened #420 "A lot of warnings after adding CarouselView.FormsPlugin"
I created a new .net standard Xamarin forms project and after adding CarouselView from nuget and build, 26 warnings shows up.
I have called CarouselViewRenderer.Init(); in MainActivity.cs

My environment:
FormsPlugin 5.2.0
Xamarin.Forms 3.0.0.482510 ( also tried the latest one, still getting the warnings)

Warnings:

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Androi

[2018-06-19 07:59] TheSayvior commented on #414
The Issue has resurfaced, it seems if you create your views from the template using an itemsource and you alter the source at runtime, then the animation between the pages can cause a bug where the screen assigns itselv to a position that it was on during the animation.

E.g. i have a list of 5 pictures and a carousel view presenting them. Then while at position 2 i delete the picture at position

[2018-06-19 11:48] less0 commented on #417
For me it doesn't. Just wanted to downgrade when I saw that I'm already on that very version.

[2018-06-20 00:44] MarcusSpecht commented on #222
Exactly the same here. I am on UWP and Xamarin.Forms 3. This seems to be a major issue.

[2018-06-20 07:51] AndreiMisiukevich commented on #420
hi
try this https://github.com/AndreiMisiukevich/CardView

[2018-06-20 22:16] ivanxamarin commented on #417
That's strange.  Did you install it in both projects and caled Init() in Android main activity? Or could it be problem with some version of Xamarin.Android.Support.*? I'm still on 27.0.2, didn't upgrade to 27.0.2.1 yet.

[2018-06-21 03:33] chiwing4 commented on #420
thanks a lot, I will give it a try

[2018-06-21 09:28] #412 closed

[2018-06-21 16:13] OKameric commented on #418
Check Link behavior option in iOS build window. For me, setting to "Don't Link" fixed the issue. But I didn't have enough time to investigate this further.

[2018-06-23 10:57] brad302 commented on #418
Thanks, that gets me by but obviously, in release mode doubles the size of the app.  Here's hoping you can find a permanent fix.  Thanks for the heads up anyway.

[2018-06-23 12:29] rfsouto opened #421 "[Android] CarouselView not showing after back navigation"
I have a carouselview visible and working in a mainpage, when i navigate to other page and then return to mainpage the carouselview not showing.

More info:
In return to mainpage dispose and redraw of the control it´s executed.
The proccess to draw on Android it´s listening to change on the ItemSource but the itemsource it´s already populated and the method to add new page did not fired.

[2018-06-25 16:33] AndreiMisiukevich commented on #421
hi @rfsouto
try this plugin instead https://github.com/AndreiMisiukevich/CardView

[2018-06-25 16:36] rfsouto commented on #421
Hi @AndreiMisiukevich, thanks for your suggestions but i have open a issue to help @alexrainman

I fix it this issue for my project with a non-conventional fix. So i want to put my experience to Alex knowledge to get a resolution together.

[2018-06-25 16:40] AndreiMisiukevich commented on #421
@rfsouto this plugin was merged to Xamarin.Forms repository. And as you can see, Alex doesn't asked somebody. All fixes/new features will be available in XF only.

[2018-06-26 22:02] smallcandles commented on #361
In my case I saw this error due to setting Linker properties to "Sdk and User Assemblies".  Changing it to "Sdk Assemblies Only" solved the problem.  Presumably some code is being stripped by the linker that is in fact used at runtime.

[2018-06-27 13:38] PeteVasi commented on #404
We've been unable to reproduce this ourselves, but we do get crash reports through AppCenter that look like this issue too:
[code]

Following to see if this gets resolved...

[2018-06-27 16:55] tonholis commented on #419
Nevermind, I solved the problem. It's not related to the CarouselView plugin.

[2018-06-27 16:55] #419 closed

[2018-06-27 21:52] alaatm opened #422 "[Android] App crash on startup with NullPointerException"
I just referenced the package, no views added that referece the plugin and I get

`Java.Lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.TextView.setTextColor(android.content.res.ColorStateList)' on a null object reference`

on startup.

Any ideas?

[2018-06-27 23:38] #422 closed

[2018-06-29 09:56] Srusti-Thakkar opened #423 "How to set previous position when filter applied on data?"
Hi, First of all Thank you for this great plugin. I have used your plugin in my application. It works fine. But, the issue is I have filter option in carousel view. But when I am doing filter it redirect to default position. I want to display it at the same position which is previously selected.

My code is :

[code]

Actually When carousel view is swiped I am changing visibility of Upper ScrollVi

[2018-07-03 08:15] Juansero29 commented on #421
I also have this problem but only on Android. I have a carousel view with 300~ items inside. When I open the page containing the carousel for the first time it shows up, but then when I quit the page and I come back, it disappears. Has anyone found any fix yet? On iOS this doesn't happen...

[2018-07-04 13:03] ryanwilliams83 opened #424 "Scrolled Event is Ambiguous"
If a user performs a single drag operation to the left but then changes direction (without lifting their finger) and drags back to the right.

The following events will fire
Scrolled, Left, 1
Scrolled, Left, 2
Scrolled, Left, 3
Scrolled, Right, 2
Scrolled, Right, 1

Assuming the Position property is equal to 1; there is not enough information in the ScrolledEventArgs to determine if the user is lo

[2018-07-04 14:12] Kulu-M opened #425 "How can i react to a "tabbed or clicked" event?"
Like when a user carousels to the 2nd page, then tabs on the content. In this case i want to navigate to another page but as far as i can see there is no event for that.

[2018-07-05 14:28] NeilIrvingMacc opened #426 "Crash only in Android on Xamarin Forms 3.1.0"
When I setup a CarouselViewControl on Android as stated below I get:

Unhandled Exception:

System.TypeLoadException: Could not resolve type with token 01000060 (from typeref, class/assembly System.Reflection.RuntimeReflectionExtensions, System.Runtime, Version=4.2.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a) occurred

I can get rid of this problem if I comment out this as well as the co

[2018-07-05 15:56] NiknakSi commented on #404
I have this reproducible in an app I'm developing at the moment, but annoyingly only on a physical iPhone 6 Plus running iOS 11.1.2. It's fine on other devices and in various simulator devices running iOS 11 and 10, and it's fine on Android. For me it's occurring when I rotate the phone while there's a modal being displayed (a video player in my case).

Once I've debugged it I'll submit a PR with

[2018-07-06 08:23] NiknakSi commented on #404
So in my case this was the Element property being null and the exception being thrown in CarouselView.FormsPlugin.iOS.CarouselViewRenderer by

`if (Element.Orientation == CarouselViewOrientation.Horizontal)`

I've added a little safety which has solved the problem for me. Hopefully this also cures it for you guys, if anyone would be able to test it out that might be handy. Thanks!

[2018-07-06 10:02] eugeniipol commented on #320
@ruisilva450 How did you fixed this issue?

[2018-07-06 10:09] NeilIrvingMacc commented on #426
Just in case this helps anyone if you skip XAML Compilation on the page containing the CarouselView it then works, question now is what still needs to be fixed?

[assembly: XamlCompilation (XamlCompilationOptions.Skip)]

[2018-07-09 18:38] saboehnke commented on #421
I'm having this issue as well. @rfsouto could you share your non-conventional fix so we can have a resolution to this?

[2018-07-10 05:53] less0 commented on #417
@alexrainman Any news on when this will be merged to the main codebase? 3.1 does not include it as far as I can tell.

[2018-07-10 06:49] less0 commented on #417
*Update:* I've stripped my example to the bare minimum (Just a `ContentPage` with a `CarouselView` showing pages with a single `Label` each) and it works with Xamarin.Forms 3.X (with X>=0). Maybe it has to do with 3.X changes, but if at all, the Xamarin.Forms version is not a sufficient, but merely a necessary condition.

I will try to bring the example to the point where it stops working and keep

[2018-07-10 08:40] ngkien1530 opened #428 "[Android] CarouselView showing blank on Xamarin.Forms 3.x"
Hi,
I'm using Carousel View (v 5.2) on Xamarin Forms 3.x (Android Only). I tested out on many versions of Xamarin 3.x, none of them work, result in a blank view. iOS is still working good.
Please update the project. Thank you
And yes, I did call the Renderer.Init();

[2018-07-10 09:02] less0 commented on #428
Are you showing the `CarouselViewControl` on a modal page? It was the issue for me, it refused to display when added to a modal page, but was displayed when I showed the page non-modally.

This looks like a dupe of #417

[2018-07-10 09:53] Huaba93 opened #429 "[iOS] XamlParseException"
Hi,
I have a problem with the CarouselView in my iOS project. When I add the CarouselView nuget into my projects, I get a _XamlParseException_ at runtime.

`Xamarin.Forms.Xaml.XamlParseException: Position 11:13. Type CommonStuff+SomeId not found in xmlns clr-namespace:Our.Common.Stuff;assembly=Our.Common.Stuff`

The problem only occurs on iOS, Android is working fine. I tried Xamarin.Forms 2.5 and

[2018-07-10 09:53] ngkien1530 commented on #428
No, it isn't. It's just a normal Content Page

[2018-07-10 12:28] less0 commented on #428
This does not mean that it's not displayed modally.

[2018-07-10 12:47] alexrainman commented on #411
I am going to release small update to support XF 3.x.x and maybe more.

[2018-07-10 12:49] alexrainman commented on #425
Just change the position property matching the tab you are tapping.

[2018-07-10 12:49] #425 closed

[2018-07-10 12:50] alexrainman commented on #423
Save the previous position before applying a filter. Once the filter is applied, set the position to the previous one.

[2018-07-10 12:50] #423 closed

[2018-07-10 12:53] alexrainman commented on #421
I am going to release small update to support XF 3.x.x and other minor fixes.

[2018-07-10 12:59] alexrainman commented on #418
I am releasing an update to support XF 3.x.x. It will include some small fixes.

[2018-07-10 12:59] alexrainman commented on #417
I am releasing an update to support XF 3.x.x. It will include some small fixes.

[2018-07-10 12:59] #417 closed

[2018-07-10 12:59] alexrainman commented on #415
I am releasing an update to support XF 3.x.x. It will include some small fixes.

[2018-07-10 12:59] #415 closed

[2018-07-10 13:09] saboehnke commented on #421
I was hoping to see the fix that @rfsouto mentioned as I cannot currently upgrade my project to XF 3.x.

[2018-07-10 13:29] rfsouto commented on #421
@saboehnke check this out
`using System;
using System.Linq;
using System.Threading.Tasks;
using Android.Support.V4.View;
using CarouselView.FormsPlugin.Abstractions;
using CarouselView.FormsPlugin.Android;
using Xamarin.Forms;
using Xamarin.Forms.Platform.Android;
using System.ComponentModel;

using AViews = Android.Views;
using AWidget = Android.Widget;
using System.Collections.Specialized;
using

[2018-07-10 16:12] esskar opened #430 "GroupedListView inside TabbedView: Unable to fling through ListView on Android"
Hello,

i have a ListView inside the TabbedView

`
<ListView
                x:Name="_listView"
                HasUnevenRows="false"
                ItemsSource="{Binding Programs}"
                ItemTemplate="{StaticResource ProjectItemTemplate}"
                IsGroupingEnabled="true"
                GroupDisplayBinding="{Binding ProgramTypeLong}"
                CachingStrategy="RecycleElem

[2018-07-10 19:36] esskar commented on #430
never mind, wrong plugin :grin:

[2018-07-10 19:36] #430 closed

[2018-07-12 17:33] umair03 opened #431 "RatingBar Inside CarouselView"
Having a ratingBar inside carousel view did not work smoothly. As rating bar also works on swipe gesture. so gestures of both controls conflict and when swiping on rating bar the carousel view starts to move and rating bar did not work smoothly.

any fix for this issue?

[2018-07-13 15:02] MelonStrew opened #432 "Cant put buttons in List of views(xaml)"
Hello, i tried to do this
`  <controls:CarouselViewControl x:Name="Carousel"  IsSwipeEnabled="True" ShowIndicators="True" Position="1">
                <controls:CarouselViewControl.ItemsSource>
                    <x:Array Type="{x:Type View}">
                        <ScrollView>
                            <RelativeLayout x:Name="Numbers" >

                                <Button x:Name="Seven

[2018-07-16 13:54] PeteVasi commented on #404
@alexrainman I see that the suggested PR was closed but not merged.  Any other details on a fix?

[2018-07-17 07:21] NiknakSi commented on #404
@PeteVasi Judging by this PR it looks like it's in the process of being merged with Xamarin Forms, but it looks like it's taking some considerable time to get there. In the meantime I guess this project has been abandoned? I appreciate the difficulty of keeping them both in parallel but until it's actually released as part of XF I think fixes should still go into this repo as well, since it's all

[2018-07-18 15:05] Andy747 opened #433 "Common Language Runtime detected an invalid program"
Hi,
I have a problem with the code below, which throws a "Common Language Runtime detected an invalid program" error, when ever I compile the code.
The interesting thing is when I remove the "Clicked="Btn_Clicked"" from the button element, everything works perfect.

Any ideas why this would be throwing this error?

What I am trying to do is to have some informational information displayed that the

[2018-07-19 13:01] keshbach1 opened #434 "CarouselView not displaying on Xamarin Forms Android or iOS"
Could you check that I'm creating this CarouselView correctly, because try as I might, I cannot get it to display anything, and I am instead greeted by a blank space. I'm starting with what I believe is a barebones example, whose XAML contents I have pasted below.

[code]

[2018-07-20 11:59] lumisoftusa opened #435 "Error serious issue"
Hi iam using CarouselView with great success but iam suddenly facing this streange error this is the error report from Hockey app . Iam using Xamrin forms.

Error details are give below.

I am very disturb because i replaced the another Carousel with this and whole apps is disturb with this error.

** Terminating app due to uncaught exception 'UIViewControllerHierarchyInconsistency', reason: 'A vi

[2018-07-21 01:46] wilsonvargas commented on #399
@alexrainman any solution for this?

[2018-07-21 21:42] ivanxamarin commented on #435
I guess you're using Views in ItemsSource. It seems that it's not working yet for a few reasons. You should go for some alternatives as DataTemplates and TemplateSelector if that's the case.

I hope ItemsSource will work as soon as the Carousel becomes the part of Forms since it's just natural way to create tabbed views.

[2018-07-22 16:50] lumisoftusa commented on #435
Yap I have figured out the issue and now Iam in good position.

Iam closing this issue but just guide me how can add beautiful animation between pages on swapping there is an animation property but it is not producing animation.

[2018-07-22 16:50] #435 closed

[2018-07-23 02:37] nosweat commented on #428
We have the same bug encountered on Android, I am using XF3.0.0.561731, Android support 27.0.2.1.

Our layout/ hierarchy is inside a Tabbar page -> content page -> carouselviewcontrol, if we set the currentpage / default the content page which contains the CarouselViewControl then it shows the control.

It will only disappear once you select another tab and then go back to the content page which h

[2018-07-23 04:07] AndriiTsok commented on #428
@nosweat I am having exactly the same issue with TabBar and Carousel control.

[2018-07-24 09:49] vpfrimmer commented on #434
I've been encountering the same kind of issue with the latest Xamarin.Forms updates.
I'm beggining to think this package is no longer compatible and needs to be updated.

Your code seems correct, by the way.

[2018-07-24 21:01] ivanxamarin commented on #434
It seems that array of controls as ItemsSource of CarouselView is not working. There are many issues reported and some alternatives to CarouselView are also unable to work that way. You should try DataTemplate and TemplateSelector. Look for some examples of that.

[2018-07-25 02:44] tayminator opened #436 "(iOS) Indicators Section Show White in iPhone X"
Hello,

Just starting with the CarouselView but having an issue that I cannot seem to figure out which is that the bottom portion of the screen where the indicators reside shows white in iPhone X.  Is there something I can do to make this area transparent in iPhone X, just as it is with other iPhone models?

Here's what it looks like:
![simulator screen shot - iphone x - 2018-07-24 at 22 30 24](ht

[2018-07-26 05:53] GamesAgeddon commented on #406
Already reported in January but unfortunately closed. https://github.com/alexrainman/CarouselView/issues/310

[2018-07-26 05:55] GamesAgeddon commented on #310
@lassana No not really. Removing the CarouselView from the app. ;)

[2018-07-27 07:15] mmichelbb commented on #428
I seem to have the same issue. I have a page with two carouselviews, one defined in xaml, another one added programmatically.
On iOS everything works fine, on Android however, both views are not showing when the page has loaded. However they appear after an orientation change of the device. Turning the orientation back will result in the view having been added programmatically staying there as it

[2018-07-27 08:06] js-ka commented on #386
I also find this error very often in the crash reports of our app:
_CarouselViewRenderer Scroller_Scrolled(System.Object sender, System.EventArgs e)
System.NullReferenceException:_

Unfortunately, the control is not yet included in Xamarin Forms.
And it looks as if this will not change in the near future (last commit in the feature-carouselview branch 3 months ago).
That means there is currently n

[2018-07-28 19:05] AndriiTsok commented on #428
@nosweat , @mmichelbb I made a temp fix removing control from my page by OnDisappearing and by adding a new instance of it back by OnAppearing.

[2018-07-29 11:30] SpiegelSoft commented on #428
I'm adding the CarouselView programmatically. CarouselView 5.2.0, XF 3.1.0.637273. It is not displaying. XAML isn't an option for me.

If I add a HeightRequest and a WidthRequest, the whole app crashes. I'll add the crash details in a separate comment.

Please note that declaring the renderer in the same file that you define the renderer makes it very difficult to declare a custom renderer from F#

[2018-07-29 11:34] SpiegelSoft commented on #428
I'm using ReactiveUI for navigation.

[2018-07-30 09:47] ManojkumarKaliannan opened #438 "item onclick"
how to get item onclick while clicked on image

[2018-07-30 10:18] SpiegelSoft commented on #428
Crash details when a HeightRequest and WidthRequest are added:

07-28 13:34:53.652 I/MonoDroid(27032): UNHANDLED EXCEPTION:
07-28 13:34:53.710 I/MonoDroid(27032): Android.Views.InflateException: Binary XML file line #15: Binary XML file line #15: Error inflating class android.support.design.widget.CheckableImageButton ---> Android.Views.InflateException: Binary XML file line #15: Error inflating c

[2018-07-30 12:35] AndreiMisiukevich commented on #438
@ManojkumarKaliannan hi)
Try this plugin instead https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs

Use ItemTapped event or ItemTappedCommand

[2018-07-30 12:36] AndreiMisiukevich commented on #434
@ivanxamarin  @vpfrimmer hi https://github.com/AndreiMisiukevich/CardView/blob/master/PanCardView/CardsView.cs
you can try this plugin

[2018-07-30 13:14] ManojkumarKaliannan opened #439 "orientation issue"
while orientation view get changed

[2018-07-30 15:44] nosweat commented on #428
@AndriiTsok  i did the same thing, i created a new instance at `OnAppearing()` and handle cleanup at `OnDisappearing()`.  I guess this will be the "hacky" fix to this issue. Not sure why it happens though. I don't want this issue to delay our project. XD

[2018-07-30 16:29] scastria opened #440 "CarouselView never removing CollectionChanged handler on old ItemsSource"
When ItemsSource changes, CarouselView should be removing the CollectionChanged handler on the old value.  for example, if during cleanup of a Page, I set ItemsSource = null, the CarouselView is NOT removing the CollectionChanged handler on the original value of ItemsSource.  this leads to crashes since the handler still gets called, but ItemsSource is null and you get NullPointerException.

In ot

[2018-08-01 20:36] scastria opened #443 "Implementation strange"
I find the implementation of the CarouselView strange.  I am seeing a problem on Android where the second invocation of a CarouselView does NOT listen to INotifyCollectionChanged on ItemsSource.  This is caused by the fact that the SetNativeView on Android is only called when Element_SizeChanged or when Orientation changes.  This is a problem because OnElementPropertyChanged ignores all property c

[2018-08-02 11:33] shoeIT commented on #439
which error do you have exactly?

[2018-08-03 14:17] mmichelbb commented on #428
I found a workaround:
I found out that the initial layout was wrong on android and the view was being rendered way too wide.

Since I know the desired dimensions of my carouselview very exactly, i was able to get it running on Android by overriding OnSizeAllocated and calling another layout pass:

`protected override void OnSizeAllocated(double width, double height)
		{
			if (width > 180)
				myC

[2018-08-03 21:25] ivanxamarin commented on #408
@alexrainman
Is this going to be possible any time soon? Using DataTemplateSelector is pretty much unnatural way for workaround and can get developer in a real mess.

[2018-08-06 11:26] mclillill commented on #310
@LakMoore seems to work. I wraped it in an if clause:
[code]

[2018-08-08 10:07] hameedibrahim commented on #120
public ObservableCollection<FlipperGetters> flipperGetters;
flipperGetters = new ObservableCollection<FlipperGetters>();
flipperGetters.Clear()
carousel.ItemsSource = flipperGetters;

After clearing and adding the carousel.ItemsSource is getting arrayondexoutofbound exception how to sove this problem. if i remove(flipperGetters.Clear()) it is working fine.

[2018-08-08 10:30] SinalyVector commented on #428
@mmichelbb's workaround work for me

[2018-08-12 17:37] LakMoore commented on #366
To fix, nest a StackView between the CarouselView and the ListView.

[2018-08-13 13:26] SlyOtis opened #444 "(Android) Nested scrolling"
I'm having troubles with nested scrolling in the carousel view, I currently have placed an android view overriding  _OnTouch()_  in the carousel view that renderers an amplitude bar with horizontal scroll. This does receive some touch event, but not all, resulting in some scrolling to the amplitude bar and some to the carousel view.

[2018-08-13 13:28] SlyOtis opened #445 "Current Item"
I'm missing some functionality when it comes to iterating the templated views, I can get an event for when positioning changes which gives me the new position, but no reference to the templated view or old view.

[2018-08-13 14:58] Phenek opened #446 "[Enhancement] Android Drag event inside CarouselView"
### Description
There no such DragEvent Feature in the CarouselView.
The issue concern just Android Part, because on iOS I can Drag the Carousel without adding gesture to it.

### Steps to Reproduce

1. Create a AbsolutLayout with a any ContentView inside
2. Add a PanGestureRecognizer on the ContentView, that can move the View or update any Value.
3. Add the CarouselView to the ContentView.
4. Fig

[2018-08-14 10:01] AndreiMisiukevich commented on #446
hi @clovs
try https://github.com/AndreiMisiukevich/CardView (make sure, that you disabled default panInteraction feature by setting IsPanInteractionEnabled to False.

[code]

[2018-08-14 10:02] AndreiMisiukevich commented on #439
@ManojkumarKaliannan try this https://github.com/AndreiMisiukevich/CardView
Can't promise, but perhaps it will help you

[2018-08-15 11:02] AndreiMisiukevich commented on #443
@scastria could you test my implementation as well https://github.com/AndreiMisiukevich/CardView ?

[2018-08-15 11:04] AndreiMisiukevich commented on #445
@SlyOtis hi
https://github.com/AndreiMisiukevich/CardView try this plugin

[2018-08-24 19:10] JPLarouche commented on #436
Hi ! I have the same issue, were you able to find a solution to this ?? Thanks !

[2018-08-29 22:48] NickSkrat opened #447 "Chart (MicroCharts)xamarin on CarouselView"
Hi alexrainman, I wanted implement a chart using MicroCharts with CarouselView on Xamarin but the chart doesn't render in IOS and Android. I don´t know if it´s an issue.
P.D: sorry if my english is regular and great nuGet.

This is the code:
XAML

<controls:CarouselViewControl x:Name="CGraficos" VerticalOptions="Start" HeightRequest="200" WidthRequest="400" BindingContext="{Binding Graficos}">

[2018-08-30 01:45] benazir0 opened #448 "Get selected position using PositionSelectedCommand on ViewModel"
**1. How can I get the selected position of the observable collection binding PositionSelectedCommand to ViewModel?**

I'm showing a list of dates and I want to change my UI data based on the selected date. This is the code on the ViewModel

`        private ObservableCollection<SomeDate> _dateItems;
        public ObservableCollection<SomeDate> DateItems
        {
            set
            {

[2018-08-30 10:18] shirish8 opened #449 "[Android] StackLayout issue on Oreo"
When i have itemsource 2 stacklayouts....it will work fine in all versions except the android oreo...
The two stacklayouts are overlapped and when the orientation is changed its fine..it works properly..
Can you please help ma???

[2018-08-30 15:43] hadihashem opened #450 "Resolution quality"
Hi @alexrainman
I'm unable to get the right picture quality from the first shot
Some of them (1st and 3rd) self improve on the second passage
The one in the middle still always the same
Please advise
Regards
![1_1](https://user-images.githubusercontent.com/34154847/44862927-0edbad00-ac7c-11e8-9222-f4755ef3c57a.jpg)
![2_1](https://user-images.githubusercontent.com/34154847/44862929-0edbad00-ac7c-11

[2018-08-31 10:16] AndreiMisiukevich commented on #448
@benazir0 hi, This project, probably, will be merged to XF.
If you wish, you can try another one https://github.com/AndreiMisiukevich/CardView

SelectedIndex and SelectedItem properties will be help you =)

[2018-08-31 10:17] AndreiMisiukevich commented on #449
@shirish8 Hi )
https://github.com/AndreiMisiukevich/CardView

Try this plugin (should work properly)

[2018-08-31 10:18] AndreiMisiukevich commented on #450
@hadihashem hi
https://github.com/AndreiMisiukevich/CardView
try this

[2018-08-31 11:32] shirish8 commented on #449
@AndreiMisiukevich
Thank you for the suggestion...
But its not taking list of stacklayouts as its itemssource...can you help me??

[2018-08-31 11:44] shirish8 commented on #449
@AndreiMisiukevich  and Its not taking MicroCharts aswell...

[2018-08-31 11:54] AndreiMisiukevich commented on #449
@shirish8
[code]

[2018-08-31 12:30] shirish8 commented on #449
@AndreiMisiukevich

<StackLayout x:Name="S1">
                <Label Text="हाजिरी" Font="15" Margin="10,30,0,0" TextColor="Black"/>
                <Label Text="विद्यार्थी" Font="12" Margin="10,20,0,0" TextColor="Black"/>
            </StackLayout>
                <StackLayout x:Name="S2">
                    <Label Text="हाजिरी" Font="15" Margin="10,30,0,0" TextColor="Black"/>

[2018-08-31 12:37] AndreiMisiukevich commented on #449
@shirish8

<cards:CarouselView.ItemsSource>
            <x:Array Type="{x:Type View}">
                </StackLayout>
                </StackLayout>
            </x:Array>
    </cards:CarouselView.ItemsSource>

[2018-08-31 19:47] cassionandi commented on #361
@alexrainman how do I know if this feature was released? My app is on debug mode and crashs with this error. I need a urgent solution : (

[2018-09-02 05:41] shirish8 commented on #449
@AndreiMisiukevich  Thank You...can you tell me about how to put the Indicators as well???

[2018-09-02 10:25] shirish8 commented on #449
@AndreiMisiukevich
Thank you....Could you be more specific and explain a bit more about Indicators???

[2018-09-02 10:41] AndreiMisiukevich commented on #449
@shirish8 just open my GitHub readme or docs .
Everything is explained there :)

[2018-09-02 11:06] shirish8 commented on #449
@AndreiMisiukevich
Thank you very much :D.

[2018-09-02 11:12] otapi commented on #363
For those, who still struggle with this issue, I found a workaround, how to change the height of the CarouselView manually. Just put it into a Grid like this:
`       <Grid>
            <Grid.RowDefinitions>
                <RowDefinition Height="30" />
            </Grid.RowDefinitions>

            <Grid.ColumnDefinitions>
                <ColumnDefinition Width="*" />
            </Grid.ColumnD

[2018-09-02 11:15] otapi commented on #363
For those, who still struggle with this issue, I found a workaround, how to change the height of the CarouselView manually. Just put it into a Grid like this:`        <Grid>
            <Grid.RowDefinitions>
                <RowDefinition Height="30" />
            </Grid.RowDefinitions>
            <Grid.ColumnDefinitions>
                <ColumnDefinition Width="*" />
            </Grid.ColumnDe

[2018-09-02 11:32] shirish8 commented on #449
@AndreiMisiukevich
i am having trouble using SelectedIndicatorStyle and UnSelectedIndicatorStyle properties...need your help??
any suggestions??

[2018-09-02 14:12] hadihashem commented on #450
looks nice
will try it
thanks

[2018-09-04 00:01] benazir0 commented on #448
@AndreiMisiukevich that is an excellent library. My background is white and the indicator is also white. How do I change the indicator color there? Is there any left and right indicator option like this library also?

[2018-09-04 02:07] achyusuf opened #451 "[iOS] PositionSelected not working well on iOS 11.4"
Event PositionSelected not call when first to second page, and indicator stay on first dot. This problem occurred when i added the CarouselView into a Grid Layout.

[2018-09-04 04:51] benazir0 commented on #448
@AndreiMisiukevich I have managed to change the indicator color style setting

`<controls:IndicatorsControl SelectedIndicatorStyle="{StaticResource customStyle}">`

Is it possible to use value converter to change the resource style like bellow?

`<controls:IndicatorsControl SelectedIndicatorStyle="{Binding Item, Converter={StaticResource itemToStyle}}"/>`

Also please let me know if there is an op

[2018-09-04 07:42] AndreiMisiukevich commented on #448
@benazir0
1) Yes, sure you can use bindings for setting style, once SelectedIndicatorStyle is bindable property
2) Left/Right indicators - do you mean Rigth/Left arrows for navigating through the carousel?
This feature is deferred https://github.com/AndreiMisiukevich/CardView/issues/38
Because, i decided, that nobody need it)
You can easy add arrow to carouselview by yourself (because carouselview

[2018-09-04 10:31] shoeIT commented on #385
I have the sam error, it seems atm the control is not devoloped or supported anymore. Xamarin Forms has to decide which control is merged into XF.

https://forums.xamarin.com/discussion/comment/344811#Comment_344811

[2018-09-04 15:15] NickSkrat commented on #447
thanks so much, i can solve to render the chart
`<controls:CarouselViewControl x:Name="Charts"
                                              VerticalOptions="Start"
                                              HeightRequest="200"
                                              WidthRequest="400"
                                              ShowIndicators="True"

[2018-09-04 15:15] #447 closed

[2018-09-06 14:53] K232 commented on #347
How is the current situation regarding the merge into Xamarin Forms master branch?

[2018-09-07 08:31] NehaGawri commented on #360
Is there any update on this issue ?

[2018-09-08 16:42] alexrainman commented on #431
I AM BACK.

Android or iOS?

[2018-09-08 16:46] alexrainman commented on #451
I AM BACK.

Trying to figure it out why.

[2018-09-08 16:54] alexrainman commented on #449
I AM BACK.

Will take a look.

[2018-09-08 16:58] alexrainman commented on #446
What exactly do you mean with DragEvent?

[2018-09-08 18:00] alexrainman commented on #443
Will take a look

[2018-09-08 18:01] alexrainman commented on #439
I AM BACK.

Whats the issue?

[2018-09-08 19:15] Phenek commented on #446
I was meaning Pan Gesture,
cause my Carousel View is on a Bottom Menu that I can drag from bottom to top.
And the Carousel inside this menu was blocking the drag menu gesture on Android only.

I managed it by adding my PanGesture function to all ItemsViews.
Not by there Parent because DataTemplate don't provide a valid ParentView.
But by starting from Application.Current then then going up to the

[2018-09-08 21:09] alexrainman commented on #436
This is as easy as to set On<Xamarin.Forms.PlatformConfiguration.iOS>().SetUseSafeArea(true); on the page containing the CarouselView.

[2018-09-09 06:53] shirish8 commented on #447
@alexrainman Can you please tell me how can we display the 3rd chart "Chart3" before another while the Carousel View appears on screen??

[2018-09-10 07:03] rredoh opened #452 "TabbedCarouselView"
Hi, can you share the new link of [this](https://github.com/alexrainman/TabbedCarouselView)? Thank you very much

[2018-09-10 14:43] scastria opened #453 "UWP: Crash with complex app layout"
I have started porting my XF app to UWP using the Native Forms technique (take XF ContentPages and call CreateFrameworkElement() and add them to native UWP UI).  This allows me to get much greater flexibility and power over the UWP layout without limiting myself to XF MasterDetailPage or XF TabbedPage.  I can use UWP NavigationView, for example.  But in doing so, one of my XF ContentPages that use

[2018-09-10 15:23] alexrainman commented on #453
Will do. Thanks

[2018-09-11 05:49] AndreiMisiukevich commented on #448
@benazir0 as Alex is returned, I think, we should create a new issue on my project and speak there.
Could you please create it? I will solve

[2018-09-11 05:50] benazir0 commented on #448
I have made binding work like this:

    <controls:IndicatorsControl>
        <controls:IndicatorsControl.SelectedIndicatorStyle>
            <Style TargetType="controls:IndicatorsControl">
                <Setter Property="BackgroundColor"  Value="{Binding item, Converter={StaticResource itemToStyle}}" />
                <Setter Property="HeightRequest" Value="25" />
                <Setter Prope

[2018-09-11 05:51] benazir0 commented on #448
@AndreiMisiukevich agreed.

[2018-09-13 03:35] rredoh commented on #452
Ok. I'll wait. Thank you very much

[2018-09-16 03:59] rredoh commented on #452
Have u implement TabbedCarouselView on this? Because I checked again your CarouselView inside TabbedPage and it seems that it's work like charm. Thanks :)

[2018-09-16 03:59] #452 closed

[2018-09-17 01:45] andersonvieiragomeslopes opened #454 "Autoplay"
@alexrainman How do I make the images auto-pass?

[2018-09-17 04:05] alexrainman commented on #454
Like auto swipe? Use a timer and change the position programmatically.

[2018-09-17 04:10] andersonvieiragomeslopes commented on #454
@alexrainman I want the images in the list to scroll automatically, without the user having to manually advance, or even, autoplay.

Timer? How do I do?

[2018-09-17 19:10] salvador-guerrero commented on #454
I created an autoscroll behavior, it is a little bit unpolished (won't pause when user scrolls manually, for example) but it works

https://gist.github.com/salvador-guerrero/a8332a917af40f944ed8c3feb70eaca3

Usage:

`
<carousel:CarouselViewControl>
    <carousel:CarouselViewControl.Behaviors>

        <behaviors:AutoscrollCarouselBehavior Delay="5000"/>
    </carousel:CarouselViewControl.Behaviors

[2018-09-17 19:17] alexrainman commented on #454
Very nice.

[2018-09-18 00:26] andersonvieiragomeslopes commented on #454
@salvador-guerrero Very Nice, my brother! Congratulations!!!!!!
@alexrainman Thank you also for your help, it is good to have a support team, congratulations to the plugin, I see that, he is not the number 1 by chance, he is excellent. Can I close this problem or would you rather keep it open?

[2018-09-18 07:29] PieterjanDeClippel commented on #433
I'm also having this issue.
It's because there's an eventbinding to a button inside the carousel.
When you would remove the eventbinding, your app would actually build.

eg change:
`<Button Text="Test Button" Clicked="Btn_Clicked"></Button>`
to
`<Button Text="Test Button"></Button>`
and the problem disappears.

Off course this gets me nowhere, since there's no other way to bind the event.
I also t

[2018-09-18 10:44] PieterjanDeClippel commented on #433
I've uploaded an example to [my webserver](http://pieterjan.pro/CarouselViewIssue.zip).
This app is not building. Remove the Clicked event handler and the app will build.
It would be greatly appreciated if this issue gets solved.

Cheers,
Pieterjan

[2018-09-18 15:38] NeilIrvingMacc opened #455 "Navigation Questions"
Is it possible to do the following?

1. When I am on the final page in the Carousel if I swipe forwards can it go back to the start and also vice versa?

2.  The built in position indicator is a great addition is it possible to change it so if I click on the indicators it goes to the desired position?

[2018-09-18 15:50] alexrainman commented on #455
This functionality will be released in the Pro version.

[2018-09-19 03:17] Wenfengcheng opened #456 "Not full screen on iPhoneX"
@alexrainman
I use CarouselViewControl as the intro page, there are 34 safe areas on the bottom of iphoneX.
I have tested that the entire page has no bottom space, but CarouselViewControl does not fill the full page.

CarouselView Version: 5.2.0
Xamarin.Forms Version: 3.1.0.697729

Here is sample code:
[code]

[2018-09-19 08:36] NeilIrvingMacc commented on #455
Hi Alex thanks for the quick reply so is the pro version going to be included in the next version of Xamarin Forms?

[2018-09-19 15:13] NeilIrvingMacc commented on #455
Ok thanks for letting us know any idea when that might be?  Its a great control by the way works without any problems on iPad, iPhone, Android old and new and Windows

[2018-09-19 20:19] helzgate opened #457 "Tiny Arrows"
On an Android tablet or Windows UWP app for the desktop... pretty much any large screen I'm assuming, the arrows are too small.  Is there a way to customize the appearance of the arrows?

![2018-09-19 15_06_07-window](https://user-images.githubusercontent.com/7506982/45778829-3c829900-bc1f-11e8-8e8c-b2c9fc6968f7.png)

[2018-09-19 20:42] alexrainman commented on #457
It is not possible on UWP but i can do something in the next release for Android and iOS.

[2018-09-19 20:55] alexrainman commented on #455
I hope in couple if weeks as i have lot of issues to fix and features to release.

[2018-09-20 16:21] TedMobile opened #458 "Blank screen on iOS using latest version"
Hi
I was looking for a carousel implementation and I am currently using your one.
Android no problem at all.
iOS i get a blank screen as if it does not render at all.

Is this a  known issue?
Any suggestions.

Is this project still active?

many thanks

[2018-09-20 17:07] dfoulk commented on #428
Does the CarouselView re-appear if you turn the device (portrait => landscape => portrait)?

If so, then you've discovered an old issue:
https://github.com/alexrainman/CarouselView/issues/157

I thought our workaround was working, but recently discovered that it no longer seems to work after Xamarin 3.0.

[2018-09-20 17:21] alexrainman commented on #428
I am currently working on the next release.

[2018-09-20 17:22] alexrainman commented on #458
Did you called Init()?

[2018-09-20 17:47] TedMobile commented on #458
Hi
thanks for quick reply.
**Silly me apologies!!!**  I was sure I did ,there you go.

I thought your control was part of the new carousel that Xamarin team is writing. Is still the case of they have gone for a total rewrite.

Are you planning any enhancement, eg autoplay etc...?

is there a way to move the indicators in a differnt place  eg top right corner etc..

many thanks for this control.

[2018-09-20 17:47] #458 closed

[2018-09-20 18:00] alexrainman commented on #458
Yes, i am planning a big release that will fix lot of bugs and include new features.

[2018-09-20 18:30] TedMobile commented on #458
that is great news ,What I like about your control  that is easy to use
are are you in a position to give dates.Next week,next month etc..

[2018-09-20 18:35] alexrainman commented on #458
Couple of weeks?

[2018-09-21 08:14] mmichelbb commented on #428
@dfoulk Yes and no:
In a calendar view i am using two carousel views. One is for showing multiple appointments which are being parallel, the other one is for selecting the current day.

Actually the one showing multiple appointments was being displayed properly after doing the portrait -> landscape -> portrait cycle you mentioned.
However the other one (sitting in a custom view element) had the wr

[2018-09-21 16:12] dfoulk commented on #428
@mmichelbb For sure. It's just similar to that issue as the "fix" for that issue no longer works. I think the problem (for us) is amplified because we updated XForms to 3.1 in a forked version of this plugin. We had to resort to converting our XAML to code, then redrawing the page inside of the **OnSizeAllocated** method when a rotation is detected (a super brute-force "workaround" that redraws th

[2018-09-26 17:36] englebertnicolas opened #460 "[Android] Memory leak when CarouselView is used in a TableView cell"
CarouselView is never disposed on Android when it is used in a TableView cell.
(But it is correctly disposed on iOS and correctly disposed on Android when NOT used in a TableView cell).

Consider the following page :
[code]

Do the following actions several times :
- push the page on navigation stack,
- then pop it,
- then execute CG.Collect(); CG.WaitForPendingFinalizers();
- and restart these ac

[2018-09-28 03:09] vikram-ma opened #461 "[Android] IllegalStateException"
Platform : Android
Version : 5.2.0

Details:
Unhandled Exception:

Java.Lang.IllegalStateException: The application's PagerAdapter changed the adapter's contents without calling PagerAdapter#notifyDataSetChanged! Expected adapter item count: 3, found: 2 Pager id: mybundleremoved:id/pager Pager class: class md507f625f62cafec6e81efe0279defe3bb.HorizontalViewPager Problematic adapter: class md507f625

[2018-09-28 17:45] bondarenkod commented on #456
The same problem.
I tried to play with ios:Page.UseSafeArea="True" and Page's Padding.

[2018-09-28 17:49] bondarenkod commented on #456
https://github.com/alexrainman/CarouselView/issues/436

[2018-09-28 18:16] bondarenkod commented on #436
[code]
and in the .cs
[code]

Try this one

[2018-09-28 18:17] bondarenkod commented on #456
@Wenfengcheng
[code]
and in the .cs
[code]

Try this one

[2018-10-03 16:47] TedMobile commented on #458
Hi there,
wondering if you are getting close to a new release as you mentioned a couple of weeks ago.

thanks

[2018-10-04 23:40] panchow commented on #199
I have experienced similar issue.  I have a UWP application that is a file browser.  In the list view, I list all files in a folder.  When I resize the UWP window and the list is big, it hangs the entire Windows OS, not just the UWP app.

[2018-10-05 19:39] sandlergiovanni commented on #434
Same issue on Xamarin.Forms 3.2.0.839982 version (Android only)

[2018-10-06 14:03] douni327 opened #462 "MissingMethodException : Adding same object to Itemsource"
Hi.

I always appreciate your awesome solution.

I have an issue with below code. Did I have wrong code?

Would you please give it a check! Thanks.

<C#>
List<Image> images = new List<Image>();
Image image = new Image { Source = ImageSource.FromFile("logo") };
for(int i = 0; i < 5; i++)
{
     images.Add(image);   // Adding same object to ItemSource
}
myCarousel.ItemsSource = images;

Exception Er

[2018-10-07 17:28] alexrainman commented on #460
Will try to reproduce this.

[2018-10-11 07:10] vikram-ma opened #463 "Negative InterPageSpacing deosn't work on iOS"
Platform: iOS
Version: 5.2.0

I want to set negative InterPageSpacing so the adjacent pages overlap, so that I can preview of previous and next item in the list. This works perfectly on Android, but doesn't work on iOS.

This feature is very important for me,
Is there any chance you could fix that? If needed, I can take a look at your code make a PR, please point me to the place where I should sta

[2018-10-12 07:48] IlyaLehchylin commented on #226
I've caught the same exception. Fixed with _IsSwipeEnabled_

[code]

[2018-10-16 15:52] cjkarande opened #464 "[Android] CarouselView does a partial Swipe while navigating from higher(say 3) to lower index(say 2)"
CarouselView does a partial Swipe while navigating from higher position index (say 3) to lower position index(say 2). This happens in both cases i.e. while using Position property from code or swipe from screen

[2018-10-18 11:31] cjkarande commented on #464
Hi @alexrainman , appreciate your support on this.
Thanks in advance

[2018-10-19 11:52] #446 closed

[2018-10-19 12:04] Phenek opened #465 "[Android] CarouselView not showing after back navigation"
### Description
Hello, I'm working on multiple implementation of Carousel View.
And I notice that when I'm using multiple CarouselView on differents ContentPages.
Sometime on Android CarouselViews are disappearing

### Steps to Reproduce

1. Create Multiple CarouselViews in Multiple ContentPage with multiple Content
2. Go to one Content Page then to another, then back to the first one
3. Some Caro

[2018-10-19 12:24] patchandthat opened #466 "Infinite scrolling"
In the readme, infinite scrolling is on the roadmap.

Have you had any thoughts on how you would go about implementing this?  I currently have a need for something like this, I could possibly send a pull request for it if you're able to give me some direction.

In my use case, I've currently got 3 items in the carousel, and as I scroll I want to remove the oldest element and preload the next thing

[2018-10-22 21:08] amalwankar commented on #428
Hello, @alexrainman  thank you for a great plugin.  Just curious if you have an ETA on the next release?

[2018-10-23 03:18] cjkarande commented on #464
No response so far. Anyone who's come across this issue?

[2018-10-24 15:33] bkischel opened #467 "[iOS] Default constructor not found for type CarouselView.FormsPlugin.Abstractions.CarouselViewControl"
Hey,

When I run my app on iOS 12 (release) I get the following error:

at System.RuntimeType.CreateInstanceMono (System.Boolean nonPublic, System.Boolean wrapExceptions) [0x0007b] in <05bb80b791d24be8b9b930a870852bd1>:0 ...

The error seams to appear when the app tries to create the CarouselView which is implemented in my xaml file like this:

`<c:CarouselViewControl x:Name="teaserCarousel"  Orie

[2018-10-26 07:04] arkadiuszokon commented on #464
I have same issue, will try to fix this ;)

[2018-10-26 07:34] chandshiakasz opened #468 "[iOS] 'NSInternalInconsistencyException' while using carouselview plugin"
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Don't know about flushed view <Xamarin_Forms_Platform_iOS_Platform_DefaultRenderer: 0x115623d00; frame = (0 0; 414 559.339); autoresize = LM+W+RM+TM+H+BM; layer = <CALayer: 0x1c603c0a0>>'

[2018-10-26 07:36] chandshiakasz commented on #468
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'No view controller managing revealed view <Xamarin_Forms_Platform_iOS_Platform_DefaultRenderer: 0x11d37a240; frame = (0 0; 414 559.339); autoresize = LM+W+RM+TM+H+BM; layer = <CALayer: 0x1c242ca20>>'

[2018-10-26 07:37] chandshiakasz commented on #468
Getting this exception while using carsoule plugin @alexrainman  can you provide any resolution , if it is known bug

[2018-10-26 09:31] Ruddy2007 commented on #222
Also seeing this problem in UWP, Xamarin.Forms 3.

[2018-10-29 09:00] phamphu2911 commented on #451
I have issue the same on ios 10.3, 12
You have solution for this?

[2018-10-30 08:33] Ruddy2007 opened #469 "[UWP] Crash when calling FreshMVVM RaisePageWasPopped"
This is a bit random but I seem to be struggling with what this could be! I have a carousel view on pretty much all my applications pages (my app uses a navigation page) but when I call RaisePageWasPopped in FreshMVVM I get the following crash.

[code]
Note that there isn't any custom code for that method, I just call it when popping pages int he navigation stack. I'm hoping someone can help me ou

[2018-10-31 10:21] Wenfengcheng commented on #456
@bondarenkod
Thank you, it's worked!
I think I can add this features to my own contentpage.

[2018-10-31 10:21] #456 closed

[2018-11-02 15:28] alexrainman commented on #464
Hi guys. Sorry, i have been trying to make sometime to cheap a new version but it is not ready yet. Will keep you posted. Thanks

[2018-11-04 05:34] cjkarande commented on #464
@alexrainman , thanks for your reply.
Will the new version carry a fix for this issue. Also approx by when do you plan to ship this new version?

[2018-11-05 07:08] rredoh commented on #364
Hi @SandipAhluwalia, your suggestion is not working for me ==

[2018-11-06 00:48] SandipAhluwalia commented on #364
Hi @rredoh, have you set up your view model for the page with the ItemsSource and Command properties as indicated in my XAML suggestion? The pattern I use is quite standard now whenever you need a button or a UI control/container to be tap recognised within a data template for things like a CarouselViewControl or even a ListView.

[2018-11-06 17:14] ngalicoco opened #470 "[Android Only] Datatemplate with ContentView, Landscape issue"
We are displaying ffcached images in carousel view, where each image is inside of a custom content view where we handle zoom, pan etc. When device is rotated to landscape the content view is no longer centered and starts of at bottom left corner, when swiped,

the next image is centered though. But now when rotated back to portrait . the two images are shown side by side and it is all jacked up no

[2018-11-06 17:18] ngalicoco commented on #470
We are on Xamarin Forms version: 3.1.0.697729
Android Target SDK version: 28

[2018-11-08 13:54] GamesAgeddon commented on #470
Had the same issue already reported https://github.com/alexrainman/CarouselView/issues/310

[2018-11-09 07:56] ShahmanTeh opened #471 "[Android] IndicatorsShape did not set to square"
Hi, I have set the CarouselViewControl IndicatorShape to Square in xaml, but it did not change to square at all.

[2018-11-10 23:48] alexrainman commented on #471
Android? iOS?

[2018-11-10 23:51] alexrainman commented on #470
Why wrapping the image with ContentView. That's against XF best practices.

[2018-11-10 23:52] alexrainman commented on #469
I have 0 experience with FreshMVVM.

[2018-11-10 23:53] alexrainman commented on #469
Can you provide a demo?

[2018-11-10 23:53] alexrainman commented on #468
Can you provide a demo reproducing the issue?

[2018-11-10 23:54] alexrainman commented on #467
Maybe the next release will solve this for you.

[2018-11-10 23:54] alexrainman commented on #466
Next release.

[2018-11-10 23:56] alexrainman commented on #464
Is this issue on Android or iOS?

[2018-11-11 06:18] cjkarande commented on #464
@alexrainman for now its on Android. I am using CarouselView in a Popup page and all child elements in the CarouselView are ListViews. Pls refer to screenshot below.
![carouselview issue](https://user-images.githubusercontent.com/2056500/48309829-9a8c8680-e5a7-11e8-808a-14f512b9de14.jpeg)

[2018-11-12 02:02] ShahmanTeh commented on #471
Android. tested using your demo build on both Android Device (OnePlus 3T) 8.0 and Genymotion Emulator 8.0

[2018-11-13 12:03] Ruddy2007 commented on #469
@alexrainman Will try to put one together soon and get back to you.

[2018-11-15 00:33] BtrJay commented on #296
Hi @alexrainman ,

Do you have any ETA to include 'IsSwiping' in the latest release?

I have exactly same issue with this plugin. We want to detect user's touch event while timer callback is in operation.

Regards,
Jay

[2018-11-15 19:33] ngalicoco commented on #470
It is not just a simple contentview, it is custom content view which has behaviors associated with it for zooming.

[2018-11-15 21:16] maveroke opened #472 "[Android] Screen Rotation"
I have view elements other than an image in the carousel view. It all works fine on iOS but when rotated to landscape on Droid and then back to portrait the carousel view doesn't redraw its child elements to the full height.

It appears SetNativeView() is getting called too early resulting in the UI being cut off after rotation.
I have a fix if you want to have a look. Ive tested it on the demo an

[2018-11-16 09:43] jonasrembratttetrapak opened #473 "App crashes with 5.2.0 and ".AllowViewModels 5.2.1-beta""
I get a crash if I flip views very fast (hammer a "Next" button) with the below `NSInternalInconsistencyException`.

I tried downloading the source code however and ...
1. I can no longer repro
2. There are differences made to the code (the property `IsSwipeEnabled` has been renamed to `IsSwipingEnabled`) so you guys have obviously been busy and I suspect there's a new version coming up, right?

F

[2018-11-16 13:11] alexrainman commented on #473
Indeed i am but i want it to be a real new version with performance fixes and new functionality. It seems the fix of that branch is not correct.

[2018-11-16 15:52] alexrainman commented on #462
By the stacktrace, this issue is not related to the carousel.

[2018-11-16 15:59] alexrainman commented on #461
I can't reproduce this.

[2018-11-16 16:22] alexrainman commented on #462
I don't think i can fix this as in Android, once you add a view to a ViewGroup, it already has a parent and cannot be added again.

[2018-11-16 17:01] alexrainman commented on #473
IsSwipingEnabled name was changed while back :)

[2018-11-17 15:46] alexrainman commented on #463
This is not possible in the native control i am using (UIPageViewController). You are lucky it works on Android.

[2018-11-17 19:35] alexrainman commented on #451
I cannot reproduce this. @achyusuf @phamphu2911 can you post an example of your Grid Layout?

[2018-11-17 19:36] #450 closed

[2018-11-17 19:45] alexrainman commented on #445
This is quite complicated to achieve as Xamarin.Forms.View is converted to native views and added to the native control.

@SlyOtis what do you have in your ItemsSource? Position is an Index starting from 0. ItemsSource[position] provides you the CurrentItem so, if you have a list of Xamarin.Forms.View as ItemsSource you can easily get what you need.

[2018-11-17 19:49] alexrainman commented on #449
@shirish8 do you mean 2 StackLayout in the same page/ItemTemplate?

[2018-11-17 19:56] alexrainman commented on #449
I can't reproduce this.

[2018-11-18 12:07] jonasrembratttetrapak commented on #473
Speaking of which: Can we wish for separate "IsSwipeRightEnabled/IsSwipeLeftEnabled"? I can see a lot of situations where validation would allow one but not the other. :)

[2018-11-18 15:22] alexrainman opened #474 "IsSwipeRightEnabled/IsSwipeLeftEnabled?"

[2018-11-18 15:33] alexrainman commented on #444
It maybe the touchable are of the amplitude bar is to thin/small that you end up touching the carousel instead?

[2018-11-18 15:38] alexrainman commented on #443
INotifyCollectionChanged on the ItemsSource doesn't have any relationship with where you set the native view. If i don't set it when the final size of the Element is set, the carousel will not know it's dimensions and as a results, its children neither.

[2018-11-18 15:38] alexrainman commented on #443
Can you provide a demo reproducing the issue?

[2018-11-18 15:41] jonasrembratttetrapak commented on #473
Awsome!

[2018-11-18 18:58] scastria commented on #440
It took me a while to remember the workflow that caused the crash.  At first I was trying to null out ItemsSource and then REMOVE an item from the ObservableCollection.  But that does NOT cause a crash because you handle removals with your local copy Source variable.  However, if you try to ADD an item to the ObservableCollection, it DOES crash because you handle adds with Element?.ItemSource whic

[2018-11-18 21:01] alexrainman commented on #440
Question: whats the point on setting ItemsSource to null?

[2018-11-18 21:04] scastria commented on #440
This is just a test program to demonstrate the bug. In my real code, I was setting ItemsSource to null when my Page was popped to help GC free up memory. But it doesn’t matter why I set it to null. I should be able to without crash.

[2018-11-18 21:07] alexrainman commented on #440
You don't have to set it to null to help GC while a page is popped. Everything will be collected automatically as my implementation of Dispose will be called.

[2018-11-18 21:09] alexrainman commented on #440
Setting ItemsSource to null doesn't actually triggers a crash, at least not in my latest code. What triggers a crash is trying to add an item, and as the previous object doesn't exists then you will get a crash. There's nothing that tells me that the ItemsSource is being set as null so i can remove the CollectionChanged handler.

[2018-11-18 21:14] alexrainman commented on #440
I found a way to prevent a crash when you try to add an item into a null ItemsSource.

[2018-11-18 22:00] #439 closed

[2018-11-18 22:09] alexrainman commented on #434
The issue here is wrapping the carousel with StackLayout which is not needed if the carousel will fill the entire screen. StackLayout needs to know the height of its children to allocate its own height. Carousel doesn't know its height, not until its natively rendered.

Workaround? Use a Grid if you need to wrap the carousel and assign a height to it.

[2018-11-18 22:17] alexrainman commented on #433
I am not able to find out why this happens. It should be an internal Xamarin.Forms issue.

As a workaround, try using a Command binding:

[code]

[2018-11-18 22:29] alexrainman commented on #424
It actually works as you are asking. It tells you the direction of the scrolling and the percent. I can easily make the percent negative while you scroll direction is to the left.

[2018-11-18 22:57] scastria commented on #440
How will keeping a local reference to Element.ItemsSource duplicate anything?  The Element.ItemsSource is already going to be keeping a reference to it.  Anytime anybody changes ItemsSource, you can use your local copy to remove the listener and then update your local copy to the new value of Element.ItemsSource.  so your local copy will only ever be pointing to the current Element.ItemsSource (ex

[2018-11-19 11:54] Ruddy2007 commented on #222
@alexrainman Any chance you could come back to this post? It may be Xamarin.Forms but it does appear to currently be this plugin causing the issue.

Not 100% sure my problem is the same as this as the custom view I made being used as the datatemplate is created 2 times. The first one seems to be disposed, tested by putting a button on view and setting a clicked event.

If it helps we could chat vi

[2018-11-19 14:03] alexrainman commented on #429
Where you able to solve this?

[2018-11-19 14:09] alexrainman commented on #428
@ngkien1530 @nosweat @SpiegelSoft @amalwankar can you guys post xaml/cs example so i can reproduce the issue? I am still working on the next release. It will take some time though as i left this abandonware for a year.

[2018-11-19 14:11] alexrainman commented on #426
@NeilIrvingMacc can you post an example so i can try to reproduce your crash?

[2018-11-19 14:12] alexrainman commented on #420
This warnings will disappear when i release the new version that will support XF.3.4.x and latest Android packages.

[2018-11-19 14:12] #420 closed, assigned to nobody

[2018-11-19 14:39] alexrainman commented on #414
I cannot reproduce this with my latest code.

[2018-11-19 14:40] NeilIrvingMacc commented on #426
I no longer have this code sorry I gave up on this control and used the tab page instead, I may revisit one day if the carousel becomes part of Xamarin Forms itself

[2018-11-19 14:40] #426 closed

[2018-11-19 14:44] alexrainman commented on #426
It will not but i am working on a big release with all the bugs fixed and brand new functionality.

[2018-11-19 14:45] alexrainman commented on #398
@masiri201 is this Android or iOS?

[2018-11-19 14:49] alexrainman commented on #400
@vikram-ma there's not Children implementation on CarouselView and it is not possible as XF Views are converted to native views before they are added to the platform specific control the CarouselView is build on top.

But, this is possible if you access directly to the ItemsSource:

[code]

[2018-11-19 14:49] #400 closed

[2018-11-19 14:51] alexrainman commented on #401
@ChasakisD where you able to solve this issue?

[2018-11-19 14:52] alexrainman commented on #399
@wilsonvargas can you post an example so i can reproduce this issue?

[2018-11-19 14:52] alexrainman commented on #402
@nhdanh next release.

[2018-11-19 14:53] alexrainman commented on #405
@hashimks next release.

[2018-11-19 14:55] alexrainman commented on #404
@PeteVasi @bart-256 expect a fix for this in the next release.

[2018-11-19 14:56] alexrainman commented on #404
@PeteVasi it was merged manually.

[2018-11-19 15:08] ChasakisD commented on #401
Yes I solved the issue by just comment the ```view.Dispose()``` inside the PagerAdapter's ```DestroyItem```. Actually the performance of ```PagerAdapter``` is very poor, is there any particular reason for choosing PagerAdapter rather than ```FragmentPagerAdapter``` or ```FragmentStatePagerAdapter```? I can work on it.

[2018-11-19 15:18] alexrainman commented on #401
If i remember well, i couldn't make it work with Fragments.

[2018-11-19 15:36] alexrainman commented on #401
The thing is that the renderer needs to return a native Android View

[code]

Fragments don't inherit from Android.Views.View.

[2018-11-19 15:40] alexrainman commented on #401
I tried to implement SaveState without luck. Also tried to keep a local copy of Views in Android as i do in iOS to avoid memory leaks but, they are collected and i get a blank page.

[2018-11-19 15:42] ChasakisD commented on #401
To properly use the ```FragmentPagerAdapter``` you render the ```Xamarin.Forms.View``` like you do, and then u create a ```FragmentContainer``` to host the rendered View. Then you add this ```FragmentContainer``` to the Adapter. This change does not affect the Renderer, while the ```ViewPager``` still remains a ```Android.Views.View```. There are some tricks to save the state of the Fragment with

[2018-11-19 15:47] alexrainman commented on #401
You are right about the renderer, my bad. You can work on a branch if that will help you.

[2018-11-19 15:54] alexrainman commented on #401
I think i can make it work really easy with FragmentPagerAdapter.

[2018-11-19 16:44] alexrainman commented on #401
Android.Support.V4.App.FragmentManager is not exposed in any way inside a ViewRenderer.

[2018-11-19 16:48] ChasakisD commented on #401
Its exposed to AppCompatActivity, so on the init method just add a parameter so the user will pass its MainActivity reference. Then take the SupportFragmentManager from that one.

[2018-11-19 16:51] alexrainman commented on #401
Meaning the user will need to use AppCompatActivity to be able to use my control and i don't want that.

Have you noticed that now ViewRenderer requires a constructor that receives Context?

[code]

[2018-11-19 16:55] ChasakisD commented on #401
Yeah, but the FragmentManager is exposed on the Activity level, no Context. In order to correctly use the FragmentPagerAdapter you need a FragmentManager which is in the Activity. There may be a trick to get the ChildFragmentManager which is  to the FragmentLevel but i don't think if it is gonna work. I think the trade off of using the FragmentPagerAdapter while requiring an extra parameter of use

[2018-11-19 16:57] alexrainman commented on #401
I know and actually that Context is of type AppCompatActivity :) it works with Fragments.

[2018-11-19 16:58] ChasakisD commented on #401
Oh my bad then :(. Glad to hear that it works!

[2018-11-19 17:04] alexrainman commented on #401
I will need to run a full round of tests as my carousel is dynamic so you can add/remove/move/insert and i don't know that will behave with FragmentPageAdapter.

[2018-11-19 17:11] ChasakisD commented on #401
With FragmentStatePagerAdapter i think the only issue were not the dynamic itemssource changes, but the state saving on device rotation. I can share my version of the adapter if needed. :)

[2018-11-19 17:13] alexrainman commented on #401
All the weird issues i faced while i was implementing a dynamic ViewPager are back if i switch to a FragmentPageAdapter.

[2018-11-19 17:15] ChasakisD commented on #401
Please push your changes to a new branch, so I can work on

[2018-11-19 17:44] alexrainman commented on #401
Sorry, i cannot focus on this now.

This is my version of the Fragment adapter:

[code]

Not sure about DestroyItem.

This is a method to get support fragment manager if MainActivity is ```global::Xamarin.Forms.Platform.Android.FormsAppCompatActivity```:

[code]

Good luck!

[2018-11-19 18:00] alexrainman commented on #406
Trying to reproduce this.

[2018-11-19 18:01] alexrainman commented on #406
@hashimks how are creating your DataTemplate? XAML? DataTemplateSelector?

[2018-11-19 18:02] alexrainman commented on #407
@ghost can you share a demo?

[2018-11-19 18:04] alexrainman commented on #408
@ivanxamarin actually DataTemplateSelector is not unnatural at all. It is supported by other Xamarin Forms controls, including ListView.

[2018-11-19 18:05] alexrainman commented on #410
Trying to reproduce this.

[2018-11-19 18:14] #402 closed

[2018-11-19 18:15] #401 closed

[2018-11-19 18:15] #405 closed

[2018-11-19 18:16] alexrainman commented on #411
@4gDad next release

[2018-11-19 18:16] #411 closed

[2018-11-19 18:16] #424 closed

[2018-11-19 18:18] alexrainman commented on #416
@LuisDeHaro next release

[2018-11-19 18:18] #416 closed

[2018-11-19 18:19] #433 closed

[2018-11-19 18:19] #434 closed

[2018-11-19 18:19] #436 closed

[2018-11-19 18:20] #404 closed

[2018-11-19 18:22] alexrainman commented on #440
I didn't merge. I close it. I already added some changes in iOS that where missing and where included before in Android. No need for another copy of ItemsSource.

[2018-11-19 18:22] #440 closed

[2018-11-19 18:23] alexrainman commented on #438
Will try this on next release but not sure i will be able to do it.

[2018-11-19 18:23] #438 closed

[2018-11-19 18:24] #474 closed, assigned to nobody

[2018-11-19 18:24] #466 closed, assigned to nobody

[2018-11-19 18:29] #448 closed

[2018-11-19 18:32] #473 closed

[2018-11-19 18:34] alexrainman commented on #462
As a workaround, create multiple instances of FFImageLoading CachedImage. They will be different views and it will work as expected but with the difference that all them will point to same cached android drawable.

[2018-11-19 18:34] #462 closed

[2018-11-19 18:36] alexrainman commented on #444
Same as #431

[2018-11-19 18:36] #444 closed

[2018-11-19 18:36] #463 closed

[2018-11-19 18:39] #453 closed

[2018-11-20 13:53] alexrainman commented on #421
Same as #465

[2018-11-20 14:44] rfsouto commented on #421
It´s a worst solution say: duplicated and cant reproduce when i give you the solution and other developers added to his branches... Sad story broh.

[2018-11-20 14:48] alexrainman commented on #421
Which solution?

[2018-11-20 14:49] alexrainman commented on #421
When an issue is reported i always try to reproduce the same scenario on my end. If I can’t i ask for more info or a demo. It is all i can do.

[2018-11-20 14:50] rfsouto commented on #421
https://github.com/alexrainman/CarouselView/issues/421#issuecomment-403822189

THIS, compare to your implementation.

and i told it in the definition:
More info:
In return to mainpage dispose and redraw of the control it´s executed.
The proccess to draw on Android it´s listening to change on the ItemSource but the itemsource it´s already populated and the method to add new page did not fired.

**i

[2018-11-20 15:02] alexrainman commented on #421
Please, point me to the line of code that solves the issue and i will incorporate it. Or do a PR. I cannot go line by line to find the change myself.

[2018-11-20 17:07] alexrainman commented on #408
I was able to reproduce this but i cannot find the reason why this is happening.

[2018-11-20 17:28] #408 closed, assigned to nobody

[2018-11-21 05:49] anson3923 commented on #469
facing same problem when in master detail app, listview menu item selected
 navigationDrawer.ContentView = new Page1().Content;
 and you will see the error (Exception thrown: 'System.NullReferenceException

[2018-11-21 07:53] liu12010 opened #475 "[Android] Unhandled exception"
Received this exception  when I first run my project on Android
Java.Lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.TextView.setTextColor(android.content.res.ColorStateList)' on a null object reference

[2018-11-21 12:18] ivanxamarin commented on #408
Yes, it happens the same way on alternatives I tried. Could be some Xamarin problem.

Thanks a lot for this, it's a good workaround. I'll try it as soon as I can.

[2018-11-23 11:55] eddie010 commented on #428
Having issues on Android as well. The CarouselView works on Android with Xamarin.Forms 3.2.0.871581. Now that I want to update to the latest version (3.4.0.1008975) it stopped working on Android. Very good to see you're working on a big update Alex :)

Tried to put some xaml/cs example code in here, but GitHub seems to format it really weird.

[2018-11-23 14:14] Ruddy2007 opened #476 "[UWP] Datatemplate rendering multiple times per page"
This issue came to my attention after my UWP application has "flashing" issues, looking into it, it looks to be the Carousel View.

Here is an example:
[code]

The code above creates 4 pages but it renders out 3 times (this seems to random, sometimes it can be 2), we can see this by looking how many times "Test View Created" has been called. Here is the output:

[code]

I am trying to look into th

[2018-11-23 15:08] Ruddy2007 commented on #476
Ok just to add onto this quickly, it seems to be when you wrap the view in a StackLayout it then triggers the above behaviour.

[2018-11-23 19:17] alexrainman commented on #476
I have been focused on Android and iOS but will work on UWP as soon as i am donde with bugs and brand new funtionality like infinite scrolling, pull to load more, autoplay, indicators position, arrows size and more.

[2018-11-23 19:20] alexrainman commented on #428
Yes, I am working on the next release. I still cannot reproduce this with my latest code.

[2018-11-28 16:15] cjkarande commented on #464
@alexrainman , i am using a collection of ListViews inside the  CarouselView. I also tried wrapping the Listviews inside DateTemplate & StackLayout, however the issue still persisted. Finally to speed my work i have dropped this plugin and started writing by own lite version per my requirement. Hope it gets fixed in your next release.

[2018-11-29 09:44] miolegbsgh opened #478 "Multiple items in horizontal orientation"
Hi,
This is probably just a question, may not necessarily be an issue.
When in horizontal view only single item is shown and item spacing is disregarded.
Is it at all capable of showing multiple items as in a list view.

Kind regards

[2018-12-01 15:44] alexrainman commented on #478
No. This is a CarouselView, not a ListView. A carousel is intended to fill the entire screen if it is the man component of your page or fill the height request or dimensions your are assigning to it.

[2018-12-01 15:44] #478 closed

[2018-12-01 15:46] alexrainman commented on #475
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:47] alexrainman commented on #471
I don't have a OnePlus but I did test with Genymotion 8.0 and still cannot reproduce this.

[2018-12-01 15:48] alexrainman commented on #470
Can you share that ContentView so I can test? Or, can you share a demo reproducing the issue?

[2018-12-01 15:49] alexrainman commented on #468
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:49] alexrainman commented on #467
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:50] alexrainman commented on #464
I still cannot reproduce this.

[2018-12-01 15:51] alexrainman commented on #461
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:51] alexrainman commented on #454
Done.

[2018-12-01 15:51] #454 closed

[2018-12-01 15:51] alexrainman commented on #451
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:51] alexrainman commented on #449
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:52] alexrainman commented on #443
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:53] alexrainman commented on #429
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:54] alexrainman commented on #410
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:54] alexrainman commented on #407
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:54] alexrainman commented on #406
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 15:55] alexrainman commented on #399
I am getting close to release date. Please submit a demo reproducing the issue if you want a fix to be included. Thanks

[2018-12-01 16:00] alexrainman commented on #465
Your project is messed up. Can't do nuget restore.

[2018-12-03 06:51] liu12010 commented on #475
I was failed to copy that issue on another project.
I can't provide the project I'm developing now,It will cause some commercial issue.
I thought maybe it was just somewhere wrong at my project.
I'll post it here If I find it out later.
Thx for your Reply.

[2018-12-03 14:47] #475 closed

[2018-12-03 21:46] sachinkanadia opened #480 "[Android] CarouselView not refreshing after updating ItemSource property. Showing blank."
Hi There,

I am using the following versions:
CarouselView.FormsPlugin 5.2.0
Xamarin.Forms 3.1.0.697729

When using the Carousel View on Android it works fine when displaying initially, however when updating the ObservableCollection (which the Carousel Views ItemSource is bound to) it shows a blank screen. It looks like the ObservableCollection has nothing in it, however when debugging the code th

[2018-12-03 21:57] alexrainman commented on #480
?

[2018-12-05 12:47] miolegbsgh commented on #478
Thank you for your answer,
I thought about that and it is a valid consideration.
On other hand I  would like to use presence of partially visible items as indicators, in place of left/right arrows.
I wonder if you can recommend on how to achieve this, please.

[2018-12-05 15:01] Abhishekc2 opened #481 "CarouselView added images in page and this page is add on the tabbed page . if first time open this page through tabbed page the image show and after second time open this page is not showing image"

[2018-12-06 13:43] sachinkanadia commented on #480
Hi Alex,

Sorry to be a pest. But do you have any idea as to when this issue would be looked at?

[2018-12-06 14:21] zFadil995 commented on #480
Hi,

I am having a very similar problem, my carousel is initially empty (The binded list is null), but when I update it it doesn't show on UI, although debugging shows that CarouselView indeed has an ItemSource with the correct number of items.

Reloading the whole page is the only workaround available, but is not acceptable (or smart).

P.S. I have tried using both lists AND observable collection

[2018-12-06 14:53] zFadil995 commented on #480
To add on top of that, this happens on verison 5.2.0, with X.F. 3.3.0.967583.

A random idea brought me to test it with older versions, and this problem doesn't seem to appear at all in version 4.4.6. The first version where I am seeing it is 5.0.0.

Hope that is useful information.

P.S. I will probably be unable to create a MCV example, but I might be able to share the offending pages in private

[2018-12-06 16:30] sachinkanadia commented on #480
Hi zFadil995,

Using version 5.0.2 is a sensible workaround for the time being.
Thank you for highlighting this.

[2018-12-07 09:51] Zure1 commented on #464
Had a similiar problem, I thought this is a bug in CarouselView. But what actually caused this was a Margin of -10 on BoxView on one of the ContentViews. @cjkarande check if you don't use any negative Margins in your layout, because this causes the controls to overlap onto another page.

This also explains why it only happens after swiping back, because before that the View was not loaded.

[2018-12-07 15:34] chrisfoulds commented on #481
Seeing similar is it related to 480 ?

[2018-12-07 15:38] alexrainman commented on #481
No, this is something else that I am currently fixing.

[2018-12-07 15:38] alexrainman commented on #481
Same as #465

[2018-12-07 15:40] alexrainman commented on #480
@zFadil995 so, you start with a null ItemsSource and then you change it at runtime no?

[2018-12-07 15:52] zFadil995 commented on #480
@alexrainman exactly. The view is part of the page, but is one of many widgets and it is initially hidden. After logging in, the property containing the source is populated (it is a part of user data, in this case a list of accounts) and the widget is shown on the screen.

The actual behaviour is rather peculiar to be honest, because besides redrawing the page making it work properly after logging

[2018-12-07 15:56] chrisfoulds commented on #481
For reference downgrading as discussed in 480 works for me.

[2018-12-07 15:58] alexrainman commented on #480
Ah, now I get what's the issue.

The problem is that CarouselView needs to know its size so it can assign it to its children and, as it is hidden there's no size assigned.

Workaround: add the carousel programmatically after a successful login when you have the items to be used as source.

[2018-12-07 16:02] alexrainman commented on #481
This will be fixed in next release.

[2018-12-07 16:07] zFadil995 commented on #480
I have actually tried doing that, in multiple ways. Simply adding it to a wrapper view (empty StackLayout) didn't work, and other ways ended up being detrimental to performance.

Also, the view holding the CarouselView has a fixed height, the carousel itself has one, as well as the Children populating DataTemplate.

As I mentioned, this only happens on Android devices, not iOS, and only after v5.0

[2018-12-07 16:10] alexrainman commented on #480
@zFadil995 carouselview behavior doesn't change if you add in xaml with pre-compilation enabled as the native control is created at runtime.

So, your best choice is adding it programmatically to its container. Also, I advice to use a Grid instead as container. StackLayout has some weird behavior with height request that mess with the carousel view.

[2018-12-08 00:14] alexrainman commented on #398
@masiri201 with the latest code the carousel will resize as expected when keyboard shows but, you will have to add this line after LoadApplication in your MainActivity:

[code]

[2018-12-08 00:14] #398 closed

[2018-12-08 00:14] #481 closed

[2018-12-08 00:16] alexrainman commented on #465
I was able to reproduce this and find a fix. It will be included in next release.

[2018-12-08 00:16] #465 closed

[2018-12-08 00:17] alexrainman commented on #480
Can you share small demo reproducing the issue?

[2018-12-08 16:18] alexrainman commented on #471
Found the problem. Fix included in next release.

[2018-12-08 16:19] #471 closed

[2018-12-12 08:44] hectorast commented on #472
I have the same problem, I tried this solution but doesn't work.
To reproduce this issue you can modifiy this in demo project:

`<?xml version="1.0" encoding="UTF-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    x:Class="Demo.MainPage"
    xmlns:cv="clr-namespace:CarouselView.FormsPlugin.Abstractions;assembly=CarouselVie

[2018-12-12 17:34] sachinkanadia commented on #480
Hi Alex,

Thanks for looking into this. Please let me know when I can update my project to your latest release with the fix, confirming the version number.

Thanks Sachin

[2018-12-12 17:56] alexrainman commented on #480
@sachinkanadia next release, which includes around 10 brand new functionality, will be released early January.

One catch: it will require a license.

Some may not agree with me on that but, I cannot maintain this project for free anymore. It will not be expensive though.

I did a big code refactoring and fixed more than 50 bugs so, it will be very stable, focused on performance and requested func

[2018-12-12 17:57] #480 closed

[2018-12-13 08:49] Firice commented on #296
I using this plugin when more 2 page have same issue, but one or two page not problem

[2018-12-19 18:44] fedemkr opened #483 "[Android/iOS] When moving an item that is not the first it throws out of bounds exception"
**Platform: Android & iOS
Exception: IndexOutofRange**

**What happens**

Having an `ObservableCollection<T>` if we do a `NotifyCollectionChangedAction.Move` of an item that is not the first one it throws an `out of bounds exception`.

[code]

I've tracked down the issue and in Android is [here](https://github.com/alexrainman/CarouselView/blob/master/CarouselView/CarouselView.FormsPlugin.Android/C

[2018-12-27 03:57] Wenfengcheng opened #485 "CarouselView will not be developed?"
@alexrainman
I heared that *Xamarin Forms* decided to merge this control into *XF* before, but I can not find any message about **CarouselView implementation**, I aslo find that the collectionview will completely replace the needs of **CarouselView**. [CarouselView will be replaced?](https://github.com/xamarin/Xamarin.Forms/issues/2219#issuecomment-419523457)
So is this control will not be devolop

[2018-12-27 04:10] alexrainman commented on #485
@Wenfengcheng the answer to your question is YES, the control will continue under development. I am catching up with all the reported issues and preparing a very big release that will include a lot of brand new functionality. Yes, Xamarin is releasing a CollectionView control but, that doesn't make this control not useful and different.

[2018-12-27 04:35] Wenfengcheng commented on #485
@alexrainman I am particularly happy to hear that. I have been waiting for a new release all this year. But I am very sorry that I did not see any new features(such as autoSwipe, Infinite scrolling, etc...) being released, and everytime I ask about this features, you said *submit any issues there https://github.com/xamarin/xamarin.forms/tree/feature-carouselview*.
So I can't wait to wait for the n

[2018-12-27 10:44] #485 closed

[2018-12-27 14:07] alexrainman commented on #485
I made the mistake of almost abandoning this project believing that it will br integrated into Forms. Not making that mistake anymore.

[2018-12-27 17:34] alexrainman commented on #483
Will run some test before applying your PR.

[2018-12-27 18:20] alexrainman commented on #413
Fixed. Next release.

[2018-12-27 18:20] #413 closed

[2018-12-27 18:50] alexrainman commented on #469
I can see the main page with no content but I can't see the crash.

[2018-12-28 00:40] Wenfengcheng commented on #485
Yeah, I also think that you have to give up this project. Due to long-term non-maintenance, many people have unstared this project.

[2018-12-28 00:57] alexrainman commented on #485
Not giving up. 100k downloads this year. 300 per-day.

[2018-12-28 20:15] dannypease commented on #399
Hi @alexrainman, I am also seeing this issue when using Prism and ShowArrows="true". I have a sample project but it is too big to attach here

[2019-01-02 05:59] mikecamimo commented on #468
We were seeing the same error in our application, however it is looking like it has nothing to do with the CarouselView. Our problem was that we were removing an item from a ListView (each item had a CarouselView of scrollable images), but we were doing it in such a way that the CarouselView could still be scrolling to an image after the item was removed. The user would tap say a delete icon overl

[2019-01-03 16:22] hadihashem opened #486 "Use CarouselView in macOS Apps"
Hello
Is it planned to develop CarouselView features for macOS Apps?
Thank you for your feedback
Regards

[2019-01-04 19:44] dfoulk commented on #485
Why would he stop supporting his project because some users withdrew their stars? Could you imagine what great opensource projects we would lose if everyone just gave up because of that? No, sir. That is silly.

[2019-01-04 22:11] alexrainman commented on #485
Issue #440 has been fixed but not released yet. I have big plans for this control, including a brand new version in the future that will modern widgets for all platforms.

[2019-01-06 14:21] Wenfengcheng commented on #485
@dfoulk @scastria  No one will doubt the greatness of this project, but @alexrainman used to stop updating CarouselView because he misunderstood that Xamarin will maintain and refactor this repo officially. Because he has not updated and fixed issue for a long time, some people who love CarouselView began to give up (such as withdrew their stars).
So stopping supporting this repo is not related to

[2019-01-08 15:33] Ruddy2007 commented on #476
@alexrainman I will try get round to giving more information on this problem soon. Just wanted you to know I am still active on these bugs I have reported just a little busy to invest more time into them at the moment.

[2019-01-09 06:48] hadihashem opened #487 "Capture physical keyboard / remote control scroll"
Hello
I'm using CarouselView on an Android TV app
In order to get it certified by Amazon (for Fire TV devices) it is required to allow scrolling using physical keys (keyboard or remote control)
Would any one be able to help me on this?
I appreciate your feedback
Regards

[2019-01-10 11:40] hadihashem commented on #487
![ba9069nnd2r8](https://user-images.githubusercontent.com/34154847/50966327-e63eac00-14d4-11e9-946c-dad7533b62df.jpg)
![wp11j31cau84](https://user-images.githubusercontent.com/34154847/50966332-e8a10600-14d4-11e9-815f-d9fe80553ecd.jpg)

[2019-01-10 14:33] HelenMamalaki commented on #123
@alexrainman Even when my carousel view is not in a stacklayout, but in a Grid in my MasterDetailPage it doesn't appear unless I set a specific row height which is not useful for adapting the images size to different Android devices. Is it because the entire page is in a scrollview. Anyone know of a work around for this?

[2019-01-11 09:49] mclillill commented on #406
@contrix09 Android? then there is a workaround. in the view, use this snippet.
[code]

[2019-01-11 10:05] contrix09 commented on #406
@mclillill  Cheers! Thanks, it worked.

[2019-01-12 20:40] Norsotec commented on #428
Okay, I had the same issues some month ago so i used the workaround from @mmichelbb (August 2018). After month without any dev work on it, i updated xamarin NuGets and now it's again not working.

so i found a workaround which works for me:

right after InitializeComponent() i put
`ProductCarouselView.PropertyChanged += ProductCarouselView_PropertyChanged;`

And adding this also:
`        private

[2019-01-12 20:59] alexrainman commented on #428
I will be fixing this issue on the next release that will be out soon this month.

[2019-01-14 09:08] saskl commented on #468
In our application we are loading the images for the CarouselView first from cache and then reload them from the server. If you are swiping through the gallery while the images are reloaded the app crashes with this error. If your connection is good you need to be very fast for this to occur but with a bad connection this can happen after some seconds.
On Android this does not cause any issues.

[2019-01-14 13:59] Ruddy2007 commented on #476
@alexrainman Have you used the demo I have in [this issue](https://github.com/alexrainman/CarouselView/issues/469#issuecomment-439876028)?

I have just downloaded and ran it to see the same issue.

[2019-01-14 14:31] Ruddy2007 commented on #469
I have hooked in your project so I can see a little bit of what is going on. From what I can see we fallover here:

[code]

`e` is null and it falls over on `e.GetEnumerator();`. Hope this gives you a little more to go on while I still look into this.

[2019-01-14 15:02] alexrainman commented on #469
This definitely helps.

[2019-01-14 15:20] Ruddy2007 commented on #476
Looking into this a bit more, I have hooked in your project and found that  the double rendering is caused by `flipView.SizeChanged += FlipView_SizeChanged;`.

I don't yet fully understand what is going on but the height appears to change 2 times, this catches it second time round and forces the view to re-render.

Commenting out the size changed then fixes the issue (I only see it render in once

[2019-01-14 15:45] Ruddy2007 commented on #476
Yet another update.

I think this may not be your plugin causing the issue. With a carousel view in a StackLayout alone you do not see this issue, however if you put a button before it we then see the issue as listed above.

This appears to be the way Xamarin.Forms StackLayout handles its children with unknown heights (gets the height of the page and then sorts out what child gets what height)?

P

[2019-01-14 15:47] alexrainman commented on #476
If you notice, I don’t advice to place the CarouselView inside StackLayout.

[2019-01-14 15:51] Ruddy2007 commented on #476
@alexrainman In my main application where I am having this problem it is in a Grid. So I am still looking into this issue. I have a feeling it could be something to do with me binding the grid row heights, that could be causing a similar issue to the StackLayout.

[2019-01-14 22:06] tdoell opened #488 "AutomationProperties not being spoken to users from views (Label, Image, Button, etc) inside of CarouselView on iOS"
**Platform(s): iOS**

**Issue:**
When having any type of **ContentView** inside of the CarouselView, the AutomationProperties for accessibility are not being read to the user on iOS. Android works as expected and reads the text to the user.
**Have not tried UWP**

**Expected:**
When specifying AutomationProperties, the text should be read aloud to the user that needs it for accessibility purposes.

[2019-01-15 10:54] Ruddy2007 commented on #476
In a odd twist, this appears to mainly happen when on my external monitor and not the laptop screen. I have no idea why that is a thing but it appears to be.

[2019-01-21 08:00] bluekuen commented on #404
@alexrainman Hello Alex, first, thank you for this great plugin ! Can you approximately tell when you will publish the next release with this fix ? I have many crashes in my production app because of this bug and would love to be free of it. I dont'T want to make stress to you, i just would like to know if it is coming out in the next two or three weeks.
Thank you and Kind Regards
David

[2019-01-30 15:43] uselessChiP commented on #453
I don't think the issue has been fully solved.
I have a Carousel which contains an image (using the FFImageLoading library) and from time to time when I navigate to this page the FindVisualChild inside FlipView_Loaded returns null causing the app to crash with an exception.

I'm using the version 5.2.0.

[2019-01-30 16:01] leo-mck commented on #468
I am having this problem too. I think @saskl is right, the problem seems to happen when we change ItemsSource while changing the selected item on the control. I have made a very basic app that reproduces this problem, try to manually change pages and if this happen while setting Items on code, it crash.

[App7.zip](https://github.com/alexrainman/CarouselView/files/2813363/App7.zip)

[2019-02-06 03:58] contrix09 commented on #309
Hi @alexrainman , I tried your solution but when I am changing the `Orientation` property of the `CarouselViewControl`, it causes an exception in the renderer:

![image](https://user-images.githubusercontent.com/29834445/52319515-13637900-2a05-11e9-923d-5325b45bc805.png)

I changed the `Orientation` property as stated in this [solution](https://github.com/alexrainman/CarouselView/issues/406#issuec

[2019-02-09 02:24] mikegottlieb commented on #428
Just wanted to add that I'm seeing this problem, but not when I initially load my view. It only happens for me after I navigate away and then back to my view.

[2019-02-12 01:19] dirivero opened #489 "[Android] Blocking exception with latest Xamarin.Forms 3.5 when leaving a page (worked on 3.4)"
**Description**
After updating to XF 3.5, an exception occurs every time a NavigationPage having at least a Carousel (within a ContentPage) as part of its navigation stack leaves the visual tree.

**Platform**
Android (I've tried with API 23 and 26)

**Steps to reproduce**
1. Open a modal content page A (with a carousel) inside a navigation page
2. Close the modal page A

Alternative flow:
1. With

[2019-02-12 14:01] quentinR0bert commented on #489
The same but he respond on this sub-project (https://github.com/alexrainman/CirclePageIndicator/issues/1)
He will release soon a update i think

[2019-02-13 15:13] mmehdidehghani opened #490 "Pass Item as Parameter to ViewModel"
Hi
I'm new to xamarin development.  I used the Xamarin.Forms.CarouselView and it was sensitive in swiping and changed it to CarouselView.FormsPlugin.AllowViewModels.
I want to pass my item (a model) to my viewModel command, like this:
private void CarouselView_ItemSelected(object sender, SelectedItemChangedEventArgs e)
        {
            var word = e.SelectedItem as LessonWordModel;

[2019-02-13 19:24] mmehdidehghani commented on #490
Hi again.
I Changed it:
 private void CarouselViewControl_PositionSelected(object sender, CarouselView.FormsPlugin.Abstractions.PositionSelectedEventArgs e)
        {
            var vm = BindingContext as WordViewModel;
            var word = vm?.UserLessonWords[e.NewValue];
            vm?.BindingExmaples.Execute(word);
        }

It passed model to my ViewModel, but i have 2 issues (:
1) zero p

[2019-02-13 19:57] mmehdidehghani commented on #483
Hi
I have the same issue :( i want to change my observable collection in PositionSelected and it thrown IndexOutofRange.
I'm new in Xamarin.Form.
Could you please help me how can i fix it. 🙏🏻🙏🏻🌹🌹

[2019-02-13 20:02] alexrainman commented on #483
I will take a look at this as soon as i can.

[2019-02-13 20:05] mmehdidehghani commented on #483
Dear alexrainman
Thank a lot for your reply.
 I'm waiting for your response. 🙏🏻🙏🏻🌹🌹

[2019-02-14 07:47] kolegs opened #491 "Cannot control slider on carouselview"
Hi,

I got a problem controlling slider added to carousel view. The problem is only on iOS devices, Android works fine. The problem is that carouselview intercepts the touch and I keep swipping between pages instead of using scroll.

Is there any workaround?

Thanks

[2019-02-16 06:33] mmehdidehghani commented on #483
Dear alexrainman
Could you please tell me when you will be able fix the issue? 🙈🙈🙈🙏🏻🙏🏻🌹🌹
Thank you so much
Best Regards

[2019-02-17 10:33] lewcianci commented on #489
In case you are like me and you couldn't wait, you can use this instead: https://github.com/AndreiMisiukevich/CardView

I think it has some benefits.  It doesn't use an Android specific implementation for the carouselview, it achieves it with built in xamarin layouts.  So I think it would be more resilient to change.  I just downloaded it and changed my nuget packages over and everything came to l

[2019-02-17 11:38] quentinR0bert commented on #489
This issue is not for making Ads for CardView. Stop using each issue for publicity.

The two plugin make the same thing yes but it's not use the same way.

[2019-02-17 21:09] mrxten commented on #428
@[mikegottlieb](/mikegottlieb) yes, for me too.
Carousel working only when I opening page with this element second and next times

[2019-02-17 21:43] lewcianci commented on #489
Relax @quentinR0bert , nobody is making "ads for cardview".  I just thought some people, like myself, would like to move to XF 3.5 and need to find functional dependencies.  I have no association with CardView, I'm just trying to make my stuff work with XF 3.5, thats all.  Its a workaround for the issue at hand, so its a valid comment on an issue like this.

[2019-02-17 22:13] alexrainman commented on #489
Guys, i am very close to release a new version and it will be compatible with XF 3.5 and with lot of new functionality.

[2019-02-18 15:06] hjuston opened #492 "[Android] Incorrect BindingContext in BindingContextChanged event"
Hello, I have discovered an issue with BindingContextChanged event on android.
The binding context seems to be incorrect when sliding left/right.
Basically, the binding context that is retrieved from the sender of the event is taken from the wrong index.

I have created an example project to reproduce this issue - attached classes.
[example.zip](https://github.com/alexrainman/CarouselView/files/28

[2019-02-18 17:58] fedemkr commented on #483
@mmehdidehghani just in case I did a PR with the Fix, you can download the Fork compile it and reference the dll directly as a temporary workaround.

https://github.com/fedemkr/CarouselView

[2019-02-19 05:50] aman720gupta commented on #296
@alexrainman  I'm still facing this issue when I remove item from the list having carousel view can you please help me resolve same

[2019-02-19 10:44] rfsouto commented on #421
PR sent

[2019-02-20 16:26] NiknakSi commented on #489
Because I'm impatient I did a little digging and made a fix for this in a branch in my fork.

https://github.com/NiknakSi/CarouselView/commit/ecbc4c5f7e99183ed2c394aee6dcaaa1815f7f4f

Basically I just brought the CirclePageIndicator code into the CarouselView solution temporarily and added the missing ctor overload. If you're desperate for a fix then I think this does the trick - I've been testing

[2019-02-20 16:31] mmehdidehghani commented on #483
Dear fedemkr
Thank you sooooooooo much. I will download it. 🙏🏻🙏🏻🌹🌹🙏🏻🙏🏻🌹🌹🙏🏻🙏🏻🌹🌹
Best Regards

[2019-02-21 10:07] Nico04 commented on #489
I've got the same issue, I hope your patch will be released soon :)
Thanks again for your work !

[2019-02-21 14:19] alexrainman commented on #489
I am almost ready for a new release but have been traveling. Will keep you guys posted.

[2019-02-23 18:15] alexrainman commented on #486
It is not planned for now.

[2019-02-23 18:23] alexrainman commented on #487
Do you have an idea to which key_down it is translated?

[2019-02-23 18:26] alexrainman commented on #483
Merging. It will be out soon.

[2019-02-23 18:36] alexrainman commented on #421
I can still not understand which the fix is. To many lines hanged on the original source code.

[2019-02-24 19:34] rfsouto commented on #421
Lines 104 to 125 in the new file.

[2019-02-25 06:30] hadihashem commented on #487
no i don't .. sorry
i had to make a custom package for FireTV without CarouselView .. until this enhancement will be released
thank you in advance

[2019-02-25 10:11] gueneylib opened #494 "Auto-slide animation too fast on android"
Hi @alexrainman ,
first of all, many thanks to you for making this awesome carousel. It was very easy to integrate to my application.
I defined an auto-slide feature on the carousel, and it works fine.
The only problem is that the position-changing animation is too fast on android. It's like lightning-fast and not trackable with human eyes.

Is there any possibility to slow down the animation on a

[2019-02-25 15:19] Inrego opened #495 "Is it possible to show previews of previous/next item?"
Is it possible? I made this illustration to show what I mean:

![image](https://user-images.githubusercontent.com/2242329/53347346-2b019380-3919-11e9-84a8-009ce0f82639.png)

[2019-02-25 15:23] Inrego commented on #495
Here's some more info about it being implemented in iOS:
https://stackoverflow.com/questions/41284846/how-to-use-uipageviewcontroller-to-also-display-a-part-of-the-previous-and-next

And this issue seems to indicate it's possible on Android by setting negative InterPageSpacing:
https://github.com/alexrainman/CarouselView/issues/463

[2019-02-25 20:52] ryanherman commented on #489
@alexrainman any idea when we can expect the update?  I know your busy, even if its a few weeks so I know how to plan.  Thank you

[2019-02-25 20:58] alexrainman commented on #489
I think by end of week.

[2019-02-26 18:59] Maldorami commented on #489
@alexrainman The update has contemplated this issue?
"Unhandled Exception:
Java.Lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first. occurred"

I have a gallery like Facebook, I just open a pic (create the carousel), 2 o 3 swaps later thow this error, if you need the source code just tell me.
(Working with Xam < 3.5 and VS201

[2019-02-26 21:48] zwilkin commented on #495
I, too, would love to see this implementation!

[2019-02-26 21:51] alexrainman commented on #495
This is not easy as it is no supported by the “under the hood native control” but, i think i can come up with a workaround. It won’t be there for next release.

[2019-03-01 10:23] JKennedy24 opened #496 "(Android) Does not re-measure its layout on Height Changed"
With the latest release of this and the latest Xamarin.Forms and latest release of carousel

Layout is not re-measured on height changed.

This was a previous bug which was fixed here: https://github.com/alexrainman/CarouselView/issues/184

Same repo still works just needs nugets updating

[2019-03-01 15:56] badstorm opened #497 "[Android/iOS] Strange problems when rendering views"
Hi,
i have this strange problem on both Andorid (9) ad iOS (12). This is my situation:

The CarouselView render a customview with a StackLayout inside. As ItemSource i pass a List<MyObject> with a custom object that has information like image, title and so on.
In that view, i override OnBindingContextChanged and i get the current MyObject instace. Than I start add views like Image and Label to the

[2019-03-03 05:42] jbtamaresgit commented on #406
@mclillill Is m_CtrlIssueCarousel would be the name of your carousel in your xaml?

[2019-03-03 06:07] ahmadkq opened #498 "SwipeGestureRecognizer with Android"
When using GestureRecognizers with SwipeGestureRecognizer to use direction "UP" or "Down" for example, it is not working with Android but it is working in iOS. In Android, the swipe command is not called.

[2019-03-04 02:29] Nico04 commented on #489
Any news on a release? As you said it was coming soon I postponed my client's release but we've reached the end of the the week without any news.
Any idea of a release date please?

[2019-03-04 09:17] mclillill commented on #406
@jbtamaresgit correct.

[2019-03-04 20:34] ivanteles opened #499 "Method Init not exist"
I tried to start the init method call in Ios, but it does not exist in the project.

CarouselViewRenderer.Init();

[2019-03-05 11:55] sthewissen commented on #489
Also waiting for this, so would be curious to hear about a release @alexrainman :)

[2019-03-05 17:38] NelsonSantos commented on #489
Me too! :)

[2019-03-05 17:45] NelsonSantos commented on #499
Hi,

You should put the
using CarouselView.FormsPlugin.iOS namespace at the header of your .cs file or ...
call CarouselView.FormsPlugin.iOS.CarouselViewRenderer.Init(); directly.

Regards...

[2019-03-05 19:48] ivanteles commented on #499
Tanks

[2019-03-05 19:48] #499 closed

[2019-03-05 20:23] so3da commented on #489
@alexrainman , when we can expect the hotfix, please?

[2019-03-05 22:51] jasekiw opened #500 "Touch events swallowed"
When adding children to the cardview that contains a touch effect, it no longer works.
If I use the touch effects outside the carousel view it works fine,  inside no event gets raised.

ex.
[code]

[2019-03-06 13:44] TohWei commented on #489
@alexrainman  Please provide the fix asap. My app is heavily rely on the carousel view. At the moment is working fine for iOS but not Android. Please.

This is the error I got under Xamarin.Forms 3.5.0.169047:
System.NotSupportedException:
"Unable to activate instance of type Com.ViewPagerIndicator.CirclePageIndicator from native handle 0x7fefec6694 (key_handle 0x3375ed5)."

[2019-03-06 14:04] alexrainman commented on #489
Sorry guys, i have been sick. Will come back to the project later today and i expect to release by end of week.

[2019-03-06 14:55] NelsonSantos commented on #489
Hi guys...

I've tryed update the CirclePageIndicator nuget version to 1.0.3 version from nuget and seens that, after make some tests, the problem doesn't occour.

There are somebody that could apply this procedure to see if works for you too?

[2019-03-06 16:25] TohWei commented on #489
I just added the Xamarin.Android.CirclePageIndicator (Com.ViewPagerIndicator CirclePageIndicator for Xamarin.Android.). version 1.0.3.

It has fixed my problem.  It is working now. Thanks.

[2019-03-06 16:34] alexrainman commented on #489
I updated CirclePageIndicator nuget as part of my fix. Glad it fixed yours too.

[2019-03-06 17:26] Nico04 commented on #489
Thanks @TohWei , I've done the same as you and it also fix the bug.
Thanks all

[2019-03-06 18:55] kerrpeter commented on #489
When I upgrade Xamarin.Android.CirclePageIndicator to 1.0.3 I get the following Build Error:

Can not resolve reference: `Xamarin.Android.Support.ViewPager`, referenced by `Com.ViewPagerIndicator`. Please add a NuGet package or assembly reference for `Xamarin.Android.Support.ViewPager`, or remove the reference to `Com.ViewPagerIndicator`.

I never had Xamarin.Android.Support.ViewPager installed be

[2019-03-06 19:41] NelsonSantos commented on #489
Whats is your Xamarin.Android.Support.XXX dependencies version?

All of that files in my project are based on 28.0.0.1.

See if an update solve your problem.

[2019-03-06 19:54] NelsonSantos commented on #489
Look at CirclePageIndicator dependencies needs a Xamarin.Android.Support.v4 at >= 28.0.0.1.

![image](https://user-images.githubusercontent.com/3474662/53909420-69d9cc80-4030-11e9-81a3-afc340b3e5f0.png)

[2019-03-06 22:21] dfoulk commented on #497
I did something similar (identical perhaps) to what you're trying to do. I reviewed my implementation and see a couple of things that I had done to get it working with this plugin.

### First
I used code for this page (instead of XAML), which I wouldn't have done unless necessary (for one reason or another). Maybe convert your XAML to code if the next suggestion doesn't work on it's own...?

### S

[2019-03-07 05:37] vjsystematix commented on #489
@NelsonSantos

Are you find any solution on the same as i am also getting the same error after installing Xamarin.Android.CirclePageIndicator.

[2019-03-07 06:10] NelsonSantos commented on #489
@vjsystematix Did you have tryed update Xamarin Support files to the version 28.0.0.1?

Here for me nothing occours. Works like a charm!

[2019-03-07 07:19] vjsystematix commented on #489
Yes, I have updated all the files still facing the same issue. Please suggest

[2019-03-07 07:27] gokuldasc commented on #123
@alexrainman The carouselview control is not working when put inside Grid or stack layout.  I need to have two controls on one page with their respective labels. I used grid with 4 rows with height for label row to 40 and carosuselview grid row height ="*" .Any ideas? It works fine with one control without any layout

[2019-03-07 09:14] kerrpeter commented on #489
Yeah installing Xamarin.Android.CirclePageIndicator 1.0.3 automatically installed those dependencies of Xamarin Android Support version 28.0.0.1
It did not automatically install  Xamarin.Android.Support.ViewPager, so where is that dependency coming from?

[2019-03-07 09:24] kannamraju commented on #489
I am using .Net standard and both these packages (CirclePageIndicator and Xamarin.Android.Support.v4 ) are not compatible with  netstandard2.0

[2019-03-07 11:05] kannamraju commented on #489
Can not resolve reference: `Xamarin.Android.Support.ViewPager`, referenced by `Com.ViewPagerIndicator`. Please add a NuGet package or assembly reference for `Xamarin.Android.Support.ViewPager`, or remove the reference to `Com.ViewPagerIndicator`.	CaptureForNurseries.Android

I am getting this error now even after installing `Xamarin.Android.Support.ViewPager`

Waiting for your release.

[2019-03-07 13:50] NelsonSantos commented on #489
@vjsystematix @kerrpeter

When I updated Xamarin.Forms to version 3.5 I'm already update all of Xamarin Android Support files to version 28.0.0.1, was when I run the project and noticed the problem of this thread.

So I've searched for solutions untill this of the update of nuget CirclePageIndicator that worked.

I think that this is the fact I belive it worked on my project. I have made this upda

[2019-03-07 17:50] kerrpeter commented on #489
I got it working by changing my Target Framework to be Android 9.0 and re-installing the support packages using the following in Package manager:
Update-Package Xamarin.Android.Support.v4 -Reinstall

I also resinstalled the Xamarin.Android.Support.v7 packages I had installed. I ended up with some additional packages in project that were not there before, so maybe this was the probelm.
Hope it help

[2019-03-07 18:31] ColdThor opened #501 "TapGesture not working when ItemsSource is set"
I noticed some people are having troubles with adding TapGestureRecognizer to the carousel. I debuged my own problem to the fact that the TapGestureRecognizer works if the ItemsSource is null / not set.

My XAML:

<StackLayout HorizontalOptions="Center" VerticalOptions="End" Margin="0,0,0,10" x:Name="caro"
                                  BackgroundColor="Black">

                <cv:CarouselView

[2019-03-08 12:45] Ruddy2007 commented on #469
Manage to get anywhere with this? Still a hide issue for me.

[2019-03-11 14:27] jonasrembratttetrapak opened #502 "Popping a page back to a carousel view page in landscape causes page reset"
DESCRIPTION:

On older iPhones (v. 8 or lower) in landscape mode, from a carousel view, when pushing a page to the nav stack in landscape and then popping back to the page again, it gets "reset": The page scrolls to the top and the iPhone status bar suddenly appears (it shouldn't in landscape mode).

Attached a small demo project.
[Lab.StackNavInLandscape.zip](https://github.com/alexrainman/Carous

[2019-03-12 06:56] vikramupkarak commented on #489
@kerrpeter - Hi i did same process that you mention but still i getting the same error

[2019-03-12 07:08] vikramupkarak commented on #489
My issue haven't resolved after update this package . i am still getting below error.

Can not resolve reference: Xamarin.Android.Support.ViewPager, referenced by Com.ViewPagerIndicator. Please add a NuGet package or assembly reference for Xamarin.Android.Support.ViewPager, or remove the reference to Com.ViewPagerIndicator

[2019-03-12 12:50] jonasrembratttetrapak commented on #502
I could mention that this only happens when user navigates back to carousel view page using a PopAsync(). It does not happen if he/she just navigates "< Back" from the navigation bar.

[2019-03-12 21:14] so3da commented on #489
Hi @alexrainman , Do we have any final solution for this issue, kindly we need your help?

[2019-03-14 00:16] aimore commented on #489
@so3da add the CirclePageIndicator Nuget package version 1.0.3
it will fix the problem

[2019-03-14 07:18] PaulsonMac commented on #428
Me too..

[2019-03-15 03:42] jasekiw commented on #500
This also can be reproduced by adding a button inside the carouselview and you will find that the button does not trigger it's click event. I did this test on android. This ruins a lot of use cases for this library.

[2019-03-16 09:34] PaulsonMac commented on #428
Hi all,

[2019-03-16 10:23] taublast commented on #361
Why did you guys close this issue, 'SDK only' is not a solution but a workaround.

[2019-03-18 15:28] tunbeo commented on #489
Downgraded to XF 3.4 and everything is ok

[2019-03-22 14:07] davidra7 opened #503 "System.NullRefernceException thrown and preview don't work"
Hi,
I added to MainActivity render init function

base.OnCreate(savedInstanceState);
global::Xamarin.Forms.Forms.Init(this, savedInstanceState);
CarouselViewRenderer.Init();
LoadApplication(new App());

The preview don't work for android but works for iOS , the error is System.NullRefernceException was thrown in onElementChanged
![Screen Shot 2019-03-22 at 16 05 13](https://user-images.githubuserc

[2019-03-25 19:57] Ruddy2007 commented on #489
@alexrainman Update on this?

[2019-03-25 21:55] lewcianci commented on #503
Same issue here.  This package was broken first with XF 3.5 and now it has broken again for some other reason :(

[2019-03-26 06:26] nrb1238 commented on #489
@alexrainman

Any Updates on this?

[2019-03-26 08:53] lewcianci commented on #503
@davidra7 is your CarouselView in another control, like a Frame or something? When I put my CarouselView in a frame I got this error.  Taking the CarouselView out of the frame made it work.

[2019-03-26 09:37] lucidBrot commented on #428
Experiencing the same issue: it works on a normally pushed page, but not on a modal page. There, the content is simply blank.

Xamarin Forms 3.6.0.264807 with CarouselView.FormsPlugin 5.2.0

[2019-03-26 09:45] davidra7 commented on #503
Hi,
My CV is inside StackLayout , what frame did you used?

[2019-03-26 09:51] lewcianci commented on #503
Actually, I recreated this exact issue when using Visual="Material" in my XAML.  Are you using that per chance? If you are, remove it and I reckon it will come to life.

[2019-03-26 10:07] PaulsonMac commented on #428
@lucidBrot, yes, you're right...! While using PushModal , first time the carousel is blank, the next time it is binded with the carousel items correctly.. Try downgrading your Xamarin Forms to 3.4 and see with PushAsync or setting the app "MainPage" for navigating to the page having this carousel issue.

[2019-03-26 19:54] CarLoOSX commented on #489
any pre-release ?

[2019-03-26 22:17] schovan opened #504 "Is Xamarin.Forms.Platform.WPF supported?"
I see a blank page on Windows Desktop (WPF application).

[2019-03-27 00:56] jmtejada opened #505 "Arrow Position"
Hi, this is a great complement. 👍

Is it possible to modify the arrow template? Or change the position of them? that is, have the option to draw them in the top, middle or bottom of the screen?

thanks!

[2019-03-27 02:19] alexrainman commented on #505
Can you provide more details on your need? What do you mean with top middle and bottom?

[2019-03-27 15:51] hectorast opened #506 "Chage position programatically"
I want to add and external button to skip a tutorial carousel, I except that when click in this button go to last item in the carousel.

I see that in previous version exists SetCurrentPage, but now is deprecated. Are there any other solution to do that?

Thanks.

[2019-03-27 15:53] alexrainman commented on #506
Just set position property to the last page.

[2019-03-27 15:54] hectorast commented on #506
I try it but in Carousel nothing happend

[2019-03-28 00:14] jmtejada commented on #505
It is possible to change the location of the arrows to move them up, to the middle or down. So that it fits my design.

![image](https://user-images.githubusercontent.com/23384279/55120463-2e2ca280-50c4-11e9-98ce-8e352c4156e3.png)

thanks! 👍

[2019-03-29 08:35] huyjack178 opened #507 "How to Scroll to top at the end"
Do you support scroll back to top page when swipe left at the end page ?

[2019-03-30 22:59] Quax82 opened #508 "Please update to include fix in CirclePageIndicator"
Hi Alex,

in https://github.com/alexrainman/CirclePageIndicator/issues/1 you solved an issue that causes my app(s) to crash. Could you update the CarouselView project to incorporate this bugfix, please?

Thank you,
Jens

[2019-03-30 23:09] alexrainman commented on #508
Jens, i will be releasing a new carousel soon, just been dealing with some health related issues. For now, just update the circlepageindicator package in your projects and that should work. Thanks

[2019-03-30 23:13] Quax82 commented on #508
Hi Alex,

no problem. Of course, health is one of the most important things in life.

I did try to update. However, in that case, the ViewPager reference cannot be resolved and installing that nuget package does not help (still "... viewpager cannot be resolved.".

Thanks for your help and sharing your code,
Jens

[2019-03-30 23:15] alexrainman commented on #508
Mmm other users said it worked for them. Anyway, i am close to release date.

[2019-03-30 23:17] Quax82 commented on #508
I am pretty sure it is something with my project configuration. However, I was not smart enough to solve it, yet.

Thank you

[2019-03-31 03:13] lewcianci commented on #508
Hey @Quax82, you're installing the updated CirclePageIndicator into your Android project yeah? Not the shared project?

[2019-03-31 03:17] lewcianci commented on #508
Also @alexrainman sorry to hear about your health problems.  You mentioned you were travelling quite recently and it sounds like you've gotten ill quite soon after so no doubt you've had a constant few months :( I hope you feel better soon.... developing when sick is not fun/borderline impossible

[2019-03-31 13:40] Quax82 commented on #508
@lewcianci
Yes, that is what I am doing. The unresolved external error also takes place in the Android project.

[2019-03-31 14:39] Quax82 commented on #508
This is the error message btw (after adding CirclePageIndicator 1.0.3 to the Android project):

 error XA2002: Can not resolve reference: `Xamarin.Android.Support.ViewPager`, referenced by `Com.ViewPagerIndicator`. Please add a NuGet package or assembly reference for `Xamarin.Android.Support.ViewPager`, or remove the reference to `Com.ViewPagerIndicator`.

[2019-04-02 09:43] AndreiMisiukevich commented on #504
@schovan have you looked at documentation yet?

![image](https://user-images.githubusercontent.com/10124814/55392943-efc03900-5544-11e9-98d0-2e8d231170ea.png)

[2019-04-02 14:41] AhmedAdelGadElkareeem opened #509 "Navigation Page Problem"
the CarouselView appear for the first time i call the page and if go to another page and return to the page containing CarouselView , the CarouselView not appear
--  Calling CarouselViewRenderer.Init() in MinActivity.cs

[2019-04-03 06:27] Monikaprime commented on #420
still getting error in XF.3.6. and plugin version 5.2.0
![image](https://user-images.githubusercontent.com/47033567/55457477-a258d000-5607-11e9-8995-e3bad043ef68.png)

please solve this at earliest

[2019-04-03 06:27] Monikaprime opened #510 "This warnings will disappear when i release the new version that will support XF.3.4.x and latest Android packages."
This warnings will disappear when i release the new version that will support XF.3.4.x and latest Android packages.

_Originally posted by @alexrainman in https://github.com/alexrainman/CarouselView/issues/420#issuecomment-439905615_

[2019-04-03 06:28] Monikaprime commented on #510
![image](https://user-images.githubusercontent.com/47033567/55457509-bb618100-5607-11e9-892d-bec22a9021cb.png)

check not solved for XF.3.6 and plugin version 5.2.0

[2019-04-03 13:54] Quax82 commented on #508
@lewcianci  @alexrainman
Ok, no chance for me to get it working before the release. I also tried to pull the repo and recompile it but when updating to Xamarin.Forms 3.6 (which is necessary in order to update the CirclePageIndicator), the code breaks. As said before, installing CirclePageIndicator 1.0.3 directly into my project does not work as well with the above mentioned error. So I am going to

[2019-04-03 14:11] alexrainman commented on #508
Well im healthy and back in businesses. CarouselView 6.0 will be out soon.

[2019-04-03 14:14] Quax82 commented on #508
@alexrainman
Good to hear you are healthy again. I did not want to increase pressure or anything but I thought maybe you guys had an idea for the time before the release. Please take your time.

[2019-04-04 17:42] jvhgamer commented on #509
To help clarify for @AhmedAdelGadElkareeem, the `CarouselViewControl` loads correctly on `ContentPage` appearing. However if the page is removed, added again, and "reappeared"  - the `CarouselViewControl` disappears. Tried ensuring `Opacity`, `InputTransparent`, `IsEnabled` are all true, and they are. `ItemsSource` shows it is working as well.

Problem originates, for me at least, in using a `Caro

[2019-04-07 22:19] Quax82 commented on #508
Found the solution in https://github.com/alexrainman/CarouselView/issues/489 . I had Android 8.1 as my target framework and changed it to Android 9.0. Now, when installing CirclePageIndicator 1.0.3, the project compiles fine and the app does not crash anymore.

[2019-04-08 00:53] lewcianci commented on #506
Yeah @hectorast I do this exact thing in my app.  Post some code and I'll take a look at it (and we'll give @alexrainman  a rest!).  Where you have the property for CurrentPage, does that class implement INotifyPropertyChanged? Are you using a framework like Prism or something? Or just code behind?

[2019-04-10 07:40] xlbs-rm commented on #417
Bug still exist!
**The Reason is the missing NavigationPage**

On iOS this works fine:
`this.Navigation.PushModalAsync(new PageWithCarouselView(), true);`

On Android the Variable setters are not called:
[code]

This works on Android but unfortunately it serves a Navbar
`this.Navigation.PushModalAsync(new NavigationPage(new PageWithCarouselView()), true);`

[2019-04-10 21:12] LeoJHarris commented on #489
@so3da Fixed my issue as well: add the CirclePageIndicator Nuget package version 1.0.3

[2019-04-11 14:21] DominicV21 commented on #509
I have a similar problem,

I have a tabbed page with 5 pages. Tab 1 contains the carouselview. Initially it works just fine.
- When i switch to tab 2 and back carouselview is fine
- When i switch to tab 3 and back carouselview is fine
- When i switch to tab 4 and back carouselview is fine
- When i switch to tab 5 and back carouselview is **GONE**

when i add the carouselview to tab 3 it stays fine

[2019-04-11 22:19] alexprigi opened #511 "Feature Back/Next buttons with text"
Hi!

Thank you for the great job!
It would be very useful if you could implement also a back/next buttons(with text) (instead of the arrows) aligned with the dot indicator at the bottom of the view.

Thank you in advance,
Alex

[2019-04-11 22:50] LeoJHarris commented on #489
@aimore that does seem to resolve the issue not crashing when navigating away but navigating back the carousel doesn't have any content anymore.

[2019-04-11 22:58] LeoJHarris opened #512 "Indicators position aligning - Start | Middle | End"
Hi there,

Feature request to be able to gain more control of placement of the Indicators.

Proposing properties: VerticalAlign and HorizontalAlign.

With Enumeration values: Start | Middle | End

[2019-04-11 23:17] LeoJHarris opened #513 "Slide show functionality"
Hi there,

Just another feature request that would be nice see would be slide show functionality in that the carousel would atomically slide through the images:

Properies might be:
IsSlideShow - determines whether to programmatically slide through carousel images.
DelayTime - if above true then delay time before sliding to the next carousel image.

[2019-04-12 07:55] DominicV21 commented on #509
Duplicate of #481 #465
Which should be fixed?

[2019-04-12 16:03] EsmerlinMoya commented on #428
@alexrainman We are experiencing the same error that they had mentioned in the previous comments and the workaround as well but it still doesnt work, do you have an estimated date when you solve this?

[2019-04-15 00:57] LeoJHarris commented on #489
@alexrainman also like to know when we can at least expect / hope to have something on this?

[2019-04-17 18:46] David-Lamar commented on #468
@alexrainman We've experienced this issue where I work.

The issue happens when the child view controllers are disposed of (Lines 919 - 923 of iOS CarouselViewImplementation.cs) during a scrolling/animation event. This can happen if carousel items are updated via some sort of background task and the user is scrolling through the carousel.

I've implemented a fix locally in my work project -- I kee

[2019-04-21 13:09] canbelek commented on #509
Hi @DominicV21,

Add this code into your tabbed page cs file and it will fix your problem.

On<Xamarin.Forms.PlatformConfiguration.Android>().SetToolbarPlacement(ToolbarPlacement.Bottom).SetOffscreenPageLimit(5);

[2019-04-23 02:04] LeoJHarris commented on #508
@alexrainman CarouselView 6.0, how soon?

[2019-04-23 22:04] dfoulk commented on #510
I've got all these too. We've decided to update to Xamarin.Forms 4.0's CarouselView. Might be worth updating for you too!

[https://msdn.microsoft.com/en-us/magazine/mt833407.aspx](https://msdn.microsoft.com/en-us/magazine/mt833407.aspx)

[2019-04-25 14:04] gsgou commented on #361
For me in Android calling the CarouselViewRenderer.Init() **AFTER Forms.Init()**
as mentioned in the README solved the issue.
[code]

[2019-04-25 19:54] CarlosEMF2 commented on #508
Tengo el mismo problema, no puedo instalar  los nuget de circlepageindicator por la versión de .NETStandard,Version=v2.0

[2019-04-26 02:32] JoeDurand3 commented on #408
I was able to fix my particular issue by setting the item source to null, raising the property changed event, and then setting with the intented contents:

[code]

[2019-04-29 13:12] CarlosEMF2 commented on #508
CarouselView 6.0, ¿qué tan pronto?

[2019-04-30 02:45] crashnnburn commented on #200
You're a life saver @SandipAhluwalia that worked as expected. Had wasted a whole day trying to get this working. Thank you!

[2019-05-01 14:18] Kiitoksia commented on #472
I'm still getting this issue on the latest version (5.2.0).  Child elements don't re-draw themselves and occupy the same space/position as the previous rotation.

[2019-05-01 14:54] xamarindevelopervietnam commented on #148
@alexrainman it's still here
Xamarin Forms 3.6.0.344457
CarouselView.FormsPlugin 5.2.0
Linker: SDK Only
[MonoDroid] UNHANDLED EXCEPTION:
[MonoDroid] Java.Lang.RuntimeException: Binary XML file line #1: Binary XML file line #1: Error inflating class CarouselView.FormsPlugin.Android.HorizontalViewPager ---> Java.Lang.RuntimeException: Binary XML file line #1: Error inflating class CarouselView.Forms

[2019-05-06 08:58] developer9969 commented on #508
Hi there
CarouselView 6.0 really? that would be fantastic! any ideas when

[2019-05-07 17:54] FruitAndAShape opened #517 "I can't see anything"
[code]

Why doesn't this render anything visible?

[2019-05-07 18:12] #517 closed

[2019-05-07 20:07] amalwankar commented on #428
Hello, @alexrainman thank you for the great plugin. Unfortunately, we are having the same issue mentioned here for XF 3.x.x. Do you have an eta for the fix?

[2019-05-13 15:25] sparkhead95 commented on #364
@SandipAhluwalia Thanks, your solution helped me a lot!
For those wondering - the `CommandParameter="{Binding}"` part of his solution allows you to assign the sender object to the class of your item source, allowing you to uniquely identify it within a list, upon click event

[2019-05-18 12:28] PWaliaDev commented on #489
@alexrainman  This issue still not fixed. This is blocking. I am not able to update Xamarin.Forms version because of this.

And if I add Xamarin.Android.Support.ViewPager then get below error.

Error XA2002: Can not resolve reference: `Xamarin.Android.Support.ViewPager`, referenced by `Com.ViewPagerIndicator`. Please add a NuGet package or assembly reference for `Xamarin.Android.Support.ViewPager`

[2019-05-19 05:39] PWaliaDev opened #518 "[Android] Blocking: When changing main page get error"
When changing Main page of application from Carousel View to something else get below error

Unable to activate instance of type Com.ViewPagerIndicator.CirclePageIndicator from native handle 0xff91625c (key_handle 0x379aca3). ---> System.MissingMethodException: No constructor found for Com.ViewPagerIndicator.CirclePageIndicator::.ctor(System.IntPtr, Android.Runtime.JniHandleOwnership) ---> Java.In

[2019-05-21 07:37] rysbilinski commented on #489
Hi @alexrainman is there any chance this will be fixed soon?

[2019-05-21 08:29] Kornelis commented on #518
I had a similar issue. Downgrading the CircleIndicator Nuget Package helped as a Workaround.

[2019-05-21 09:50] nrb1238 commented on #489
@rysbilinski , @PWaliaDev
Better to try this https://github.com/AndreiMisiukevich/CardView

[2019-05-21 09:57] rysbilinski commented on #489
Thanks @nrb1238 I did this earlier today and working, but was just hoping to not have to make the change

[2019-05-21 10:01] PWaliaDev commented on #489
@nrb1238, thanks for suggesting, actually this package does not have Scrolling event so thats why i can't go fo that.

[2019-05-21 10:01] LeoJHarris commented on #489
@rysbilinski  @PWaliaDev @nrb1238 hang in there. There appears to be a proposal on xamarin forms team for carousel integrated in XF https://github.com/xamarin/Xamarin.Forms/issues/4996 watch that space

[2019-05-21 10:09] NiknakSi commented on #489
I did suggest a temporary fix for this back in February, it solved the issue for me:

https://github.com/alexrainman/CarouselView/issues/489#issuecomment-465651202

All you need to do is clone the repo, compile, and use that instead of the Nuget.

[2019-05-22 03:15] LeoJHarris commented on #489
@NiknakSi cloned your repo, complie:

throwing this when navigating away from the page with carousel:

System.NotSupportedException: Unable to activate instance of type Com.ViewPagerIndicator.CirclePageIndicator from native handle 0xbef9041c (key_handle 0x3d40df99).

[2019-05-22 12:57] NiknakSi commented on #489
@LeoJHarris That's odd - did you remove any existing references for CirclePageIndicator and CarouselView from your projects? Do you have a sample project you could share?

[2019-05-22 22:15] dbwelch commented on #428
Hi, @alexrainman, same issue mentioned, but, using XF 4.x.  Works great on iOS, Android nothing.

[2019-05-23 21:52] LeoJHarris commented on #489
@NiknakSi I simply used your cloned repo https://github.com/NiknakSi/CarouselView/tree/niknaksi/CirclePageIndicator-temporaryfix

But for now I have rolled back on Xamarin.Forms as well as this library and everything is working so will stick to that for now.

But here's hoping a new release will be made on here soon. @alexrainman we would really appreciate some update on whether v6.0 be released s

[2019-05-23 21:55] alexrainman commented on #489
@NiknakSi the answer is yes. I am into CarouselView development and i expect to release new version in couple of weeks.

[2019-05-23 21:56] LeoJHarris commented on #489
@alexrainman Great! We will continue to look forward to release 6.0.  👍

[2019-05-24 13:03] CarlosEMF2 commented on #508
???????

[2019-05-27 08:48] hamid-shaikh commented on #518
There is no such package installed called CircleIndicator - I can only see package installed is CarouselView.FormsPlugin

[2019-05-27 21:20] DoctorWaffles commented on #518
All version seems to break for me, what version of CircleIndicator and CarouselView were you using?

[2019-05-30 00:20] Pirate911 opened #520 "Binding color to any child element has no effect"
Hi ,
Something weird is happening . If I try to bind BackGroundColor to any element inside CarouselView it doesn't have effect . If I move the tag to outside Carousel control it change background color .

_This doesn't work_
`
<cv:CarouselViewControl x:Name="carsoule" Orientation="Horizontal" Position="0" HeightRequest="200" ShowIndicators="false" Margin="0"
                            VerticalOpt

[2019-05-30 10:26] Abdulbasha commented on #489
@alexrainman After Updating XF4.0.0.425677 and Changed the Target Framework ( Android 8.1 ), Still i am facing the same issue and getting exception like Unable to activate instance of type Com.ViewPagerIndicator.CirclePageIndicator from native handle 0x7fe4ce06c4 . Can you please provide us the solution.

[2019-05-30 10:26] Abdulbasha commented on #508
After Updating XF4.0.0.425677 and Changed the Target Framework ( Android 8.1 ), Still i am facing the same issue and getting exception like Unable to activate instance of type Com.ViewPagerIndicator.CirclePageIndicator from native handle 0x7fe4ce06c4 . Can you please provide us the solution.

[2019-05-30 17:31] #520 closed

[2019-06-02 20:24] BryanSan commented on #489
I had this same error and I was able to fix it installing the other package of alexrainman Xamarin.Android.CirclePageIndicator 1.0.3 and then it started to work.

I am using XF4.0.0.425677 with Target Framework Android 9

[2019-06-03 10:12] Nullstr1ng commented on #465
Hi Alex, it's Xamarin 4.0 now, and I this issue still exists. Not sure what the possible solution is. So I headed over to this issue tab and tried reporting but  it seems that there are already reports regarding this issue.

Basically, the problem is, I have a Shell, and one of the pages is using your control. CarouselView shows on first launch without a problem, going to other tab and then going

[2019-06-03 10:38] Nullstr1ng commented on #509
Hi Alex, it's Xamarin 4.0 now, and I this issue still exists. Not sure what the possible solution is. So I headed over to this issue tab and tried reporting but it seems that there are already reports regarding this issue.

Basically, the problem is, I have a Shell, and one of the pages is using your control. CarouselView shows on first launch without a problem, going to other tab and then going b

[2019-06-04 06:52] ethanyuxinzhang opened #521 "[Android] Images sometimes do not show"
Hi

I am working on a cross-platform project using xamarin forms. I am using carouselview to display captured or picked photos. The strange thing is that sometimes the carouselview does not show the images. It happens every now and then and only on Android device. Is there any potential reason for causing this?

[2019-06-04 15:07] alexrainman commented on #513
This will be released in the next version. Already implemented.

[2019-06-04 15:07] #513 closed

[2019-06-04 15:09] alexrainman commented on #489
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:11] alexrainman commented on #491
Running some tests.

[2019-06-04 15:14] alexrainman commented on #496
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:17] alexrainman commented on #497
I am back! Releasing new version in the next 2 weeks. More info needed in case this issue is not solved.

[2019-06-04 15:18] alexrainman commented on #498
I am back! Releasing new version in the next 2 weeks. Can you provide a demo?

[2019-06-04 15:19] alexrainman commented on #500
I am back! Releasing new version in the next 2 weeks. Running some tests.

[2019-06-04 15:23] alexrainman commented on #501
I am back! Releasing new version in the next 2 weeks. Running some tests.

[2019-06-04 15:23] alexrainman commented on #502
I am back! Releasing new version in the next 2 weeks. Running some tests.

[2019-06-04 15:25] alexrainman commented on #503
I am back! Releasing new version in the next 2 weeks. Running some tests.

[2019-06-04 15:25] #504 closed

[2019-06-04 15:26] alexrainman commented on #505
I am back! Releasing new version in the next 2 weeks. This will be included.

[2019-06-04 15:27] alexrainman commented on #506
I am back! Releasing new version in the next 2 weeks. Changing the position programmatically or binding it to a property that you change programmatically should fix the problem.

[2019-06-04 15:27] #506 closed

[2019-06-04 15:28] alexrainman commented on #507
I am back! Releasing new version in the next 2 weeks. This will be supported.

[2019-06-04 15:28] #507 closed

[2019-06-04 15:28] alexrainman commented on #508
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:29] alexrainman commented on #509
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:30] alexrainman commented on #510
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:30] dfoulk commented on #497
@alexrainman that's great to hear man! What kind of info would you need here. I'll try to provide what I can.

[2019-06-04 15:32] alexrainman commented on #512
I am back! Releasing new version in the next 2 weeks. I have been trying to implement this but I am facing some roadblocks. If it is not included in next release then it will be the upcoming one. It is in my roadmap for sure.

[2019-06-04 15:32] alexrainman commented on #518
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:35] alexrainman commented on #521
I am back! Releasing new version in the next 2 weeks. Can you provide a demo reproducing the issue?

[2019-06-04 15:36] alexrainman commented on #399
I am back! Releasing new version in the next 2 weeks. Will try to reproduce this myself.

[2019-06-04 15:38] alexrainman commented on #406
@mclillill I want to understand what this actually does.

[2019-06-04 15:41] alexrainman commented on #406
@hashimks the problem here is you are wrapping each image with a StackLayout, which I know it has problems calculating its size inside a CarouselView. Can you try removing the stack?

[2019-06-04 15:41] #407 closed

[2019-06-04 15:42] #410 closed, assigned to nobody

[2019-06-04 15:42] #414 closed

[2019-06-04 15:42] #418 closed

[2019-06-04 15:42] alexrainman commented on #421
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:42] #421 closed

[2019-06-04 15:43] #429 closed

[2019-06-04 15:44] alexrainman commented on #428
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:45] #449 closed

[2019-06-04 15:45] #451 closed

[2019-06-04 15:47] alexrainman commented on #468
Will try to reproduce this.

[2019-06-04 15:49] alexrainman commented on #467
I am back! Releasing new version in the next 2 weeks. This issue will be corrected.

[2019-06-04 15:49] #467 closed

[2019-06-04 15:49] #461 closed

[2019-06-04 15:50] #464 closed

[2019-06-04 15:52] alexrainman commented on #470
Will try to reproduce this.

[2019-06-04 16:13] #489 closed

[2019-06-04 16:13] #428 closed

[2019-06-04 16:13] #508 closed

[2019-06-04 16:14] alexrainman commented on #494
I am back! Releasing new version in the next 2 weeks. This will be supported.

[2019-06-04 16:14] #494 closed

[2019-06-04 16:15] alexrainman commented on #488
Please, upload a reproduction solution.

[2019-06-04 16:17] alexrainman commented on #490
ViewModels as item source will be supported in the upcoming release. Can you upload a reproduction solution?

[2019-06-04 16:20] #483 closed

[2019-06-04 16:21] colonna-mike opened #522 "How to set up XAML to handle a LIST of objects?"
Hello Question: , have a list of objects where one of the properties is LIST<string> ( as below) .
I seem to be having trouble understand how to setup code behind or XAML properly?
[code]
here is where I'm stuck:
[code]

[2019-06-04 16:28] alexrainman commented on #497
@dfoulk maybe a repro solution?

[2019-06-04 16:30] alexrainman commented on #522
What exactly you want to achieve?

[2019-06-04 16:35] colonna-mike commented on #522
Hello @alexrainman,
sorry it was a little vague, I'm getting a list of posts from my server and within that data I have Images for each post. at the moment I able to display my data (without the images in a  <ListView.ItemTemplate><DataTemplate>. I like to ad your CarouselViewControl to my <ListView.ItemTemplate><DataTemplate> so I can display the images for each post. Does that more sense?

[2019-06-04 16:43] alexrainman commented on #522
So, you have a list of posts no? Will each post be a page in your carousel? Then the list of post is your ItemsSource. Then each post has a list of images no? Use a ListView as ItemTemplate and the images list is the ListView ItemsSource. The ListView needs an Image as its ItemTemplate.

[2019-06-04 16:51] colonna-mike commented on #522
Q: Will each post be a page in your carousel?
A: No , each post (if possible) will contain a  carousel of none or many images

below is what I been trying to work with. if yo are familiar with Instagram it would look behave something like that

[code]

code be hide
[code]

[2019-06-04 16:52] colonna-mike commented on #522
I don't think what I'm trying to will work I might have to come up with a different design.

[2019-06-04 16:53] alexrainman commented on #522
Then each post is an item of a ListView no? Then inside each listview cell, add a carousel which ItemsSource will be the images. Not so complex.

[2019-06-04 16:55] colonna-mike commented on #522
yes, you got it.. :-)

[2019-06-04 16:55] colonna-mike commented on #522
I just can't seem to get the XAML and the item sources correct?

[2019-06-04 16:57] alexrainman commented on #522
Will post a sample xaml later when i get to be in front of my computer.

[2019-06-04 16:58] colonna-mike commented on #522
Wow thank you so much !

[2019-06-04 16:58] Abdulbasha commented on #508
My issue is solved now. I Changed the Target Framework ( Android 9.0 ) and updated the Xamarin.Android.CirclePageIndicator to 1.0.3. Thanks to @BryanSan.

[2019-06-04 17:00] Abdulbasha commented on #489
My issue is solved now. I Changed the Target Framework ( Android 9.0 ) and updated the Xamarin.Android.CirclePageIndicator to 1.0.3. Thanks to @BryanSan. And thanks to @alexrainman  for new release.

[2019-06-04 23:11] dfoulk commented on #497
After reading the OP's post (and my own) again, I don't have repro steps for his issue. My issue was the same as #157, which seems to have been closed.

My bad!

[2019-06-04 23:24] LeoJHarris opened #523 "Suggestion: Use Repo Releases section"
Hi just a suggestion, rather then putting the releases in to the wiki section you could use the release section for this repo at https://github.com/alexrainman/CarouselView/releases :)

It will be easier and simpler for devs to track new releases :)

[2019-06-05 06:37] Nullstr1ng commented on #509
@alexrainman > I am using Xamarin 4.0 Shell and the CarouselView version is 5.2.0. When I downgraded to 5.0.2, the bug is gone. I can just go back and forth to different pages with CarouselView in it, without any issues

[2019-06-05 07:11] mclillill commented on #406
@jbtamaresgit yes, m_CtrlIssueCarousel ist the name of the carousel.

[2019-06-05 07:13] mclillill commented on #406
@alexrainman I don't know. It's just a workaround. It triggers a new layout cycle but not sure why carousel breaks in the first place.

[2019-06-05 08:03] SravanthiKare commented on #488
@alexrainman
Even we are facing same issue with CarouselView having ContentView in it.

[2019-06-05 14:00] tdoell commented on #488
Here is a reproduction solution for Xamarin.Forms 4.0.0.425677. I didn't test Android in this solution due to not currently having a device to test on. Coworkers using them currently. There is two items in the CarouselView. Both have automation properties on them, but neither of them are spoken.

[CarouselViewBug488.zip](https://github.com/alexrainman/CarouselView/files/3257504/CarouselViewBug488.

[2019-06-05 15:06] Phenek commented on #489
I updated CirclePageIndicator to 1.0.3,

Even if I install ViewPager I got the:
[code]

@BryanSan Do you have a workaround until two weeks?

[2019-06-05 15:10] BryanSan commented on #489
@Phenek Try without ViewPager installed. I don't have it installed. Also, make sure you are targeting Android 9.0 and using the last Xamarin.Forms that is how I made it work

[2019-06-05 15:36] rtolliver commented on #503
Echoing seeing this issue on the latest version on Xamarin.Android. The only workaround I've found to this point is rolling back to an older version.

[2019-06-06 11:20] Phenek commented on #489
No that didn't work
I Still got "Can not resolve reference: Xamarin.Android.Support.ViewPager"

[2019-06-07 00:13] colonna-mike commented on #522
@alexrainman I have figure how to get the plugin to work within a list view data template. Thank you for a great plugin!

[2019-06-07 00:13] #522 closed

[2019-06-07 12:20] tunbeo commented on #489
It works for me,

I updated All Project to Xamarin Forms 4.0
In Android, add Xamarin.Android.CirclePageIndicator 1.0.3 , used Android 9.0, in Android Build checked Enable Multi-Dex. Then delete all bin and obj folders, open Solution again and it works like a charm hehe

[2019-06-09 19:01] paullosoares opened #524 "[Android]Object reference not set to an instance of an object."
I'm having problems on android, ios works normally

at CarouselView.FormsPlugin.Android.CarouselViewRenderer.OnElementChanged (Xamarin.Forms.Platform.Android.ElementChangedEventArgs`1[TElement] e) [0x00132] in <892bb6a09e5d43ddbe9591d58bbf4c0e>:0
  at Xamarin.Forms.Platform.Android.VisualElementRenderer`1[TElement].SetElement (TElement element) [0x000c3] in D:\a\1\s\Xamarin.Forms.Platform.Android\

[2019-06-11 10:13] SagarPanwala commented on #148
I'm also facing same issue

[2019-06-11 14:46] marcosmusk commented on #148
I was with same issue only in release.
After changed linker to SDK only, solved the problem.

[2019-06-14 09:37] Phenek commented on #518
@alexrainman Hope you will, cause we stuck with Xamarin 3.4 with your very useful lib.

[2019-06-15 03:17] LeoJHarris commented on #489
@tunbeo what version this plugin you use? latest 5.0.1 or 5.0.2?

[2019-06-15 03:45] LeoJHarris commented on #489
@tunbeo Followed as you mentioned but on returning to the page with the Carousel it didnt show any content inside it.

[2019-06-18 20:02] LeoJHarris commented on #489
@alexrainman Just a gentle reminder that we are still waiting on new release 6.0 and we need a resolution to this issue as soon as possible.

[2019-06-19 06:00] bluekuen commented on #508
@Abdulbasha Hello Abdul,
i installed Xamarin.Android.CirclePageIndicator 1.0.3 in my Xamarin.Android Project but the CarouselView is still crashing with JNI handle error on Android 9.0. Do you have an idea why it doesn't work?

[2019-06-19 08:53] lyka-cabrales opened #526 "[UWP] - App crash when displaying the Carousel View"
The app is crashing when the page with a Carousel view that has been opened.
But this is working fine with the Android and iOS platform.
The crash issue in UWP has started after the upgrade of Xamarin.Forms to its latest version and when we transfer from PCL to .NET Standard 2.0. But previously it was also working fine.

I attached the screenshot of the error we've got.
<img width="991" alt="Scree

[2019-06-26 18:35] jointothedarkside commented on #432
Is there a fix to this yet? I'm also trying to place buttons and all goes fine untill the clicked event, same error

[2019-06-27 13:44] tempest360 commented on #518
@alexrainman any update on the new release ? It's been more than 3 weeks now.
@Phenek has created a PR for the change.
Thanks 👍

[2019-06-27 21:24] pandaloupe commented on #509
While wating for the update of this great control (I still wonder why it is not part of the Xamarin core yet) and also struggling with the ViewPageIndicator reference error, I found a quick and dirty workaround by clearing the content of the page before changing the main page.
`public static void OpenPage(Page page)
        {
            var oldPage = Application.Current.MainPage;
            if (

[2019-06-28 06:01] pandaloupe commented on #518
My quick and dirty fix for this is clearing the content and thus all controls from the current page before switching to another main page. While this is surely not an elegant solution and leaves the page blank while initializing the new one at least the error is gone...

[code]

[2019-06-29 19:43] USAMA-app commented on #518
any update of this issue.

[2019-07-01 10:58] Aswathy1990 opened #527 "Content not changing when swiping from first item to second item in carousel item"
I am using PRISM framework. I have a carousel view with content template having some labels and controls (no images). The item source is bind with a view model property. However I am facing issues with swiping. In some cases, when I swipe from first to second item, the indicator is moving to second dot but the content showing is still first with animation. Then again I swim back and forth it chang

[2019-07-01 14:59] JKennedy24 opened #528 "[Enhancement] Add Loading property"
Add a loading property when the carousel is changing its position

This means at least on android we can show display an indicator when the carousel is changing position

[2019-07-02 10:43] xhashimks commented on #527
This is a blocker.. can any one please help?

[2019-07-03 21:40] CarlosEMF2 commented on #508
and the update?

[2019-07-03 23:19] lewcianci commented on #508
This probably doesn't help, but due to this issue (and other issues) I moved my codebase to flutter.  This functionality is natively implemented by the framework, you can see a video of it here: https://www.youtube.com/watch?v=J1gE9xvph-A.

If you can switch to a different framework it might be a good idea... Xamarin hasn't had this functionality natively ever.  And probably never will.  It took m

[2019-07-03 23:53] LeoJHarris commented on #508
@lewcianci A spec was drafted up for CarouselView earlier this year https://github.com/xamarin/Xamarin.Forms/issues/4996 and was released (I think in XF 4.1), there are some some existing issues with CarouselView in XF and its been a long time coming but I think CarouselView in XF becoming stable wont be to far away off. Its a shame its taken this long however to get there.

[2019-07-03 23:54] alexrainman commented on #508
As i promised, i will release version 6.0, i just want it to be a real bump in functionality and stability.

[2019-07-03 23:56] alexrainman commented on #523
OK

[2019-07-03 23:56] #523 closed